<footer class="border-top text-center small text-muted py-5">
    <p class="m-0">Copyright &copy; 2020 <a href="/profile/shihab" class="text-info">Shihab</a>. All rights reserved.
    </p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="https://github.com/shihabiiuc/" target="_blank">Github</a></li>
        <li class="list-inline-item"><a href="https://profiles.wordpress.org/shihab0915/" target="_blank">Wordpress</a>
        </li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/shihabiiuc/" target="_blank">Linkedin</a></li>
        <li class="list-inline-item"><a href="https://twitter.com/shihabiiuc" target="_blank">Twitter</a></li>
        <li class="list-inline-item"><a href="https://www.instagram.com/shihabiiuc/" target="_blank">Instagram</a></li>
        <li class="list-inline-item"><a href="https://facebook.com/ibuildyourwebsite" target="_blank">Facebook</a></li>
    </ul>

    <ul class="list-inline">
        <li class="list-inline-item"><a class="text-muted samll" href="/privacy-policy">Privacy Policy</a></li>
        <li class="list-inline-item"><a class="text-muted samll" href="/refund-policy">Refund Policy</a></li>
        <li class="list-inline-item"><a class="text-muted samll" href="/terms-and-conditions">Terms &amp; Conditions</a>
        </li>
    </ul>

    <p><em><a class="font-weight-bold" href="/subscribe-to-our-web-design-newsletter">Get coupon, discount code &amp;
                regular updates direct to your email.</a></em></p>

    <ul class="list-group list-group-horizontal-sm justify-content-center">
        <li class="list-group-item">Special Thanks:</li>
        <li class="list-group-item"><a class="text-black-50" href="https://nodejs.org/en/" target="_blank">Nodejs</a>
        </li>
        <li class="list-group-item"><a class="text-black-50" href="https://expressjs.com/" target="_blank">Express</a>
        </li>
        <li class="list-group-item"><a class="text-black-50" href="https://www.mongodb.com/" target="_blank">MongoDB</a>
        </li>
        <li class="list-group-item"><a class="text-black-50" href="https://ejs.co/" target="_blank">EJS</a></li>
        <li class="list-group-item"><a class="text-black-50" href="https://webpack.js.org/" target="_blank">Webpack</a>
        </li>
        <li class="list-group-item"><a class="text-black-50" href="https://babeljs.io/" target="_blank">Babel</a></li>
    </ul>

    <!-- <ul class="list-inline mt-3 mb-0 payment-info">
        <li class="list-inline-item"><img src="../../paypal.svg" alt="Paypal"></li>
        <li class="list-inline-item"><img src="../../payoneer-dark-logo.svg" alt="Payoneer"></li>
    </ul> -->
    <ul class="list-inline mt-3 mb-0">
        <li class="list-inline-item"><a href="/web-development-resource-questionnaire-form">downloads</a></li>
        <li class="list-inline-item"><a href="/rate-experience-after-orders-are-automatically-completed-on-fiverr">rate
                experience after order completion on fiverr</a></li>

    </ul>

</footer>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script>$('[data-toggle="tooltip"]').tooltip()</script>
<script src="/main-bundled.js"></script>
</body>

</html>