<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title display-4 text-primary">Entrepreneur</h5>
    <p class="display-4 text-primary font-weight-bold">&dollar;150</p>
    <p class="card-text font-weight-bold small">
      Fully editable &amp; customizable website for entrepreneurs.
    </p>
    <hr />

    <p>&check; Mobile Responsive</p>
    <hr />
    <p>&check; Opt-in&sol;Subscription Form</p>
    <hr />
    <p>&check; Contact Form</p>
    <hr />
    <p>&check; Content Upload</p>
    <hr />
    <p>&check; Niche Website</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Upto 3 Pages</p>
    <hr />
    <p class="text-muted">&times; <del>Ecommerce Functionality</del></p>
    <hr />
    <p class="text-muted">&times; <del>SEO Tool Setup</del></p>
    <hr />
    <p class="text-muted">&times; <del>Google Analytic Account</del></p>
    <hr />
    <p class="text-muted">&times; <del>Google Search Console</del></p>
    <hr />
    <p class="text-muted">&times; <del>Sitemap</del></p>
    <hr />
    <p class="text-muted font-italic text-monospace">
      &check; Revisions: 1
    </p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Delivery Time: 2 Days</p>
  </div>
  <div class="card-footer">
    <form action="/payment" method="POST">
      <input type="number" class="form-control d-none" name="price" value="150" />
      <button type="submit" class="btn btn-success btn-block">Continue (&dollar;150)</button>
    </form>
  </div>
</div>
