<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title display-4 text-primary">Business</h5>
    <p class="display-4 text-primary font-weight-bold">&dollar;350</p>
    <p class="card-text font-weight-bold small">
      SEO optimized business website &amp; blog. Includes content creation.
    </p>
    <hr />

    <p>&check; Mobile Responsive</p>
    <hr />
    <p>&check; Opt-in&sol;Subscription Form</p>
    <hr />
    <p>&check; Elementor PRO License</p>
    <hr />
    <p>&check; Envato Element License</p>
    <hr />
    <p>&check; 1 Article</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Upto 5 Pages</p>
    <hr />
    <p class="text-muted">&times; <del>Ecommerce Functionality</del></p>
    <hr />
    <p>&check;SEO Tool Setup</p>
    <hr />
    <p>&check;Google Analytic Account</p>
    <hr />
    <p>&check;Google Search Console</p>
    <hr />
    <p>&check;Sitemap</del></p>
    <hr />
    <p class="text-muted font-italic text-monospace">
      &check; Revisions: Unlimited
    </p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Delivery Time: 10 Days</p>
  </div>
  <div class="card-footer">
    <a href="https://www.fiverr.com/shihabiiuc/create-wordpress-website-with-ui-ux-design" target="_blank"
      class="btn btn-success btn-block">Order Now (&dollar;250)</a>
    <!-- <form action="/payment" method="POST">
      <input type="number" class="form-control d-none" name="price" value="150" />
      <button type="submit" class="btn btn-success btn-block">Continue (&dollar;150)</button>
    </form> -->
  </div>
</div>