<div class="card shadow-sm mb-5 package" style="min-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title display-5 text-gradient">Startup Business Website</h5>
    <p class="display-4 text-primary font-weight-bold">&dollar;280</p>

    <p class="card-text font-weight-bold small">
      WordPress website with 3 unique pages, Elementor PRO License, mobile responsive, usage video guide.
    </p>
    <span class="badge badge-warning">Basic</span>
    <hr />

    <p>&check; Mobile Responsive</p>
    <hr />
    <p>&check; Premium Domain</p>
    <hr />
    <p>&check; Hosting</p>
    <hr />
    <p>&check; MailChimp&sol;Drip&sol;AWeber&sol;AC</p>
    <hr />

    <p>&check; GDPR</p>
    <hr />

    <p class="text-muted">&times; <del>Licensed Photos</del></p>
    <hr />
    <p class="text-muted">&times; <del>Content Creation</del></p>
    <hr />
    <p class="text-muted">&times; <del>Search Engine Optimization</del></p>
    <hr />
    <p class="text-muted">&times; <del>SEO Tool Setup</del></p>
    <hr />
    <p class="text-muted">&times; <del>Google Analytic Setup</del></p>
    <hr />
    <p class="text-muted">&times; <del>Google Search Console</del></p>
    <hr />
    <p class="text-muted">&times; <del>Sitemap</del></p>
    <hr />
    <p class="text-muted">&times; <del>Blog archive</del></p>
    <hr />



    <p class="text-muted font-italic text-monospace">&check; Upto 3 Pages</p>
    <hr />

    <p class="text-muted font-italic text-monospace">
      &check; Revisions: Unlimited
    </p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Delivery Time: 7 Days</p>
  </div>
  <div class="card-footer">
    <!--  
    <form action="/payment" method="POST">
      <input type="number" class="form-control d-none" name="price" value="280" />
      <button type="submit" class="btn btn-success btn-block">Order Now (&dollar;280)</button>
    </form>
-->
  </div>
</div>