<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title display-4 text-primary">Ecommerce</h5>
    <p class="display-4 text-primary font-weight-bold">&dollar;500</p>
    <p class="card-text font-weight-bold small">Ecommerce online store for selling physical &amp; downloadable products &amp; services.</p>
    <hr />

    <p>&check; Mobile Responsive</p>
    <hr />
    <p>&check; Opt-in&sol;Subscription Form</p>
    <hr />
    <p>&check; Contact Form</p>
    <hr />
    <p>&check; Content Upload</p>
    <hr />
    <p>&check; Niche Website</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Upto 10 Pages</p>
    <hr />
    <p>&check; Ecommerce Functionality</p>
    <hr />
    <p>&check; SEO Tool Setup</p>
    <hr />
    <p>&check; Google Analytic Account</p>
    <hr />
    <p>&check; Google Search Console</p>
    <hr />
    <p>&check; Sitemap</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Revisions: 2</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Delivery Time: 5 Days</p>
  </div>
  <div class="card-footer">
    <form action="/payment" method="POST">
      <input type="number" class="form-control d-none" name="price" value="500" />
      <button type="submit" class="btn btn-success btn-block">Continue (&dollar;500)</button>
    </form>
  </div>
</div>
