<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title display-4 text-primary">Ecommerce</h5>
        <p class="display-4 text-primary font-weight-bold">&dollar;250</p>
        <p class="card-text font-weight-bold small">Ecommerce online store for selling physical &amp; downloadable products &amp; services.</p>
        <hr>
        <p>&check; Built with WordPress &amp; WooCommerce</p>
        <hr>
        <p>&check; Responsive Design</p>
        <hr>
        <p>&check; Opt-in&sol;Subscription Form</p>
        <hr>
        <p>&check; Contact Form</p>
        <hr>
        <p>&check; Content Upload</p>
        <hr>
        <p>&check; Number of Pages: 10 (max)</p>
        <hr>
        <p>&check; Ecommerce Functionality</p>
        <hr>
        <p>&check; SEO Tool Setup</p>
        <hr>
        <p>&check; Google Analytic Account</p>
        <hr>
        <p>&check; Google Search Console</p>
        <hr>
        <p>&check; Sitemap</p>
        <hr>
        <p>&check; Revisions: 2</p>
        <hr>
        <p>&check; Delivery Time: 5 Days</p>
    </div>
    <div class="card-footer">
        <form action="/payment" method="POST">
            <input type="number" class="form-control d-none" name="price" value="250">
            <button type="submit" class="btn btn-success btn-block">Order &amp; Make Payment</button>
        </form>
    </div>
</div>