<div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title display-4 text-primary">Ecommerce</h5>
    <p class="display-4 text-primary font-weight-bold">&dollar;500</p>
    <p class="card-text font-weight-bold small">Ecommerce online store for selling physical &amp; downloadable products
      &amp; services.</p>
    <hr />

    <p>&check; Physical Product</p>
    <hr />
    <p>&check; Affiliate Product</p>
    <hr />
    <p>&check; Downloadable Product</p>
    <hr />
    <p>&check; Gateway Setup</p>
    <hr />
    <p>&check; Store Page</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Upto 10 Pages</p>
    <hr />
    <p>&check; Ecommerce Functionality</p>
    <hr />
    <p>&check; SEO Tool Setup</p>
    <hr />
    <p>&check; Google Analytic Account</p>
    <hr />
    <p>&check; Google Search Console</p>
    <hr />
    <p>&check; Sitemap</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Revisions: Depends</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Delivery Time: Depends</p>
  </div>
  <div class="card-footer">
    <a href="https://www.fiverr.com/shihabiiuc" target="_blank" class="btn btn-success btn-block">Give Me a Shout</a>
  </div>
</div>