<div class="card shadow-sm mb-5 package" style="min-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title display-5 text-gradient">Professional Website &amp; Blog</h5>
    <p class="display-4 text-primary font-weight-bold">&dollar;600</p>
    <p class="card-text font-weight-bold small">PRO website&sol;blog design &amp; development, content creation, SEO
      optimization.</p>
    <span class="badge badge-warning">Premium</span>
    <hr />

    <p>&check; Mobile Responsive</p>
    <hr />
    <p>&check; Premium Domain</p>
    <hr />
    <p>&check; Hosting</p>
    <hr />
    <p>&check; MailChimp&sol;Drip&sol;AWeber&sol;AC</p>
    <hr />

 
    <p>&check; GDPR</p>
    <hr />

    <p>&check;Licensed Photos</p>
    <hr />
    <p>&check; Content Creation</p>
    <hr />
    <p>&check; Search Engine Optimization</p>
    <hr />
    <p>&check;SEO Tool Setup for Future Use</p>
    <hr />
    <p>&check;Google Analytic Setup</p>
    <hr />
    <p>&check;Google Search Console</p>
    <hr />
    <p>&check;Sitemap</del></p>
    <hr />
    <p>&check; Blog archive</p>
    <hr />

    <p class="text-muted font-italic text-monospace">&check; Upto 10 Pages</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Revisions: Unlimited</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Delivery Time: 10 Days</p>
  </div>
  <div class="card-footer">
    <!-- 
    <form action="/payment" method="POST">
      <input type="number" class="form-control d-none" name="price" value="600" />
      <button type="submit" class="btn btn-success btn-block disabled">Order Now (&dollar;600)</button>
    </form>
     -->
  </div>
</div>