<div class="card shadow-sm mb-5 package" style="min-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title display-5 text-primary">Professional Website &amp; Blog</h5>
    <p class="display-4 text-primary font-weight-bold">&dollar;350</p>
    <p class="card-text font-weight-bold small">PRO website&sol;blog design &amp; development, content creation, SEO
      optimization.</p>
    <span class="badge badge-warning">Premium</span>
    <hr />

    <p>&check; Mobile Responsive</p>
    <hr />
    <p>&check; Subscription form</p>
    <hr />
    <p>&check; MailChimp&sol;Drip&sol;AWeber&sol;AC</p>
    <hr />
    <p>&check; Contact form</p>
    <hr />
    <p>&check; Popup</p>
    <hr />
    <p>&check; GDPR</p>
    <hr />
    <p>&check; Elementor PRO License</p>
    <hr />
    <p>&check; Envato Element License</p>
    <hr />
    <p>&check;Licensed Photos</p>
    <hr />
    <p>&check; Content creation</p>
    <hr />
    <p>&check; Search engine optimization</p>
    <hr />
    <p>&check;SEO Tool Setup</p>
    <hr />
    <p>&check;Google Analytic Setup</p>
    <hr />
    <p>&check;Google Search Console</p>
    <hr />
    <p>&check;Sitemap</del></p>
    <hr />
    <p>&check; Blog archive</p>
    <hr />

    <p class="text-muted font-italic text-monospace">&check; Upto 5 Pages</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Revisions: Unlimited</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Delivery Time: 10 Days</p>
  </div>
  <div class="card-footer">
    <a href="https://www.fiverr.com/shihabiiuc" target="_blank" class="btn btn-success btn-block">Contact Me</a>
  </div>
</div>