<div class="card shadow-lg mb-5 package" style="min-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title display-5 text-primary">Own Brand Website</h5>
    <p class="display-4 text-primary font-weight-bold">&dollar;150</p>
    <p class="card-text font-weight-bold small">
      Matching with your existing brand &amp; print materials. WordPress website with 4 unique pages, Elementor PRO &
      Envato elements license, premium photos, SVG.
    </p>
    <span class="badge badge-warning">Standard</span>
    <hr />

    <p>&check; Mobile Responsive</p>
    <hr />
    <p>&check; Subscription form</p>
    <hr />
    <p>&check; MailChimp&sol;Drip&sol;AWeber&sol;AC</p>
    <hr />
    <p>&check; Contact form</p>
    <hr />
    <p>&check; Popup</p>
    <hr />
    <p>&check; GDPR</p>
    <hr />
    <p>&check; Elementor PRO License</p>
    <hr />
    <p>&check;Envato Element License</p>
    <hr />
    <p>&check;Licensed Photos</p>
    <hr />
    <p class="text-muted">&times; <del>Content creation</del></p>
    <hr />
    <p class="text-muted">&times; <del>Search engine optimization</del></p>
    <hr />
    <p class="text-muted">&times; <del>SEO Tool Setup</del></p>
    <hr />
    <p class="text-muted">&times; <del>Google Analytic Setup</del></p>
    <hr />
    <p class="text-muted">&times; <del>Google Search Console</del></p>
    <hr />
    <p class="text-muted">&times; <del>Sitemap</del></p>
    <hr />
    <p class="text-muted">&times; <del>Blog archive</del></p>
    <hr />



    <p class="text-muted font-italic text-monospace">&check; Upto 4 Pages</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Revisions: Unlimited</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Delivery Time: 8 Days</p>
  </div>
  <div class="card-footer">
    <a href="https://www.fiverr.com/shihabiiuc/create-wordpress-website-with-ui-ux-design" target="_blank"
      class="btn btn-success btn-block">Order Now (&dollar;150)</a>
  </div>
</div>