<div class="card shadow-lg">
    <div class="card-body">
        <h5 class="card-title display-4 text-primary">Standard</h5>
        <p class="display-4 text-primary font-weight-bold">&dollar;150</p>
        <p class="card-text font-weight-bold small">Three pages website based on your business niche &amp; unique requirements.</p>
        <hr>
        <p>&check; Built with WordPress</p>
        <hr>
        <p>&check; Responsive Design</p>
        <hr>
        <p>&check; Opt-in&sol;Subscription Form</p>
        <hr>
        <p>&check; Contact Form</p>
        <hr>
        <p>&check; Content Upload</p>
        <hr>
        <p>&check; Number of Pages: 3</p>
        <hr>
        <p class="text-muted">&times; <del>Ecommerce Functionality</del></p>
        <hr>
        <p>&check; SEO Tool Setup</p>
        <hr>
        <p>&check; Google Analytic Account</p>
        <hr>
        <p>&check; Google Search Console</p>
        <hr>
        <p>&check; Sitemap</p>
        <hr>
        <p>&check; Revisions: 1</p>
        <hr>
        <p>&check; Delivery Time: 3 Days</p>
    </div>
    <div class="card-footer">
        <form action="/payment" method="POST">
            <input type="number" class="form-control d-none" name="price" value="150">
            <button type="submit" class="btn btn-success btn-block">Order &amp; Make Payment</button>
        </form>
    </div>
</div>