<div class="card shadow-lg">
  <div class="card-body">
    <h5 class="card-title display-4 text-primary">Marketplace</h5>
    <p class="display-4 text-primary font-weight-bold">&dollar;995</p>
    <p class="card-text font-weight-bold small">
      Freelance marketplace website from scratch. Also known as hiring platform.
    </p>
    <hr />

    <p>&check; Gigs by Seller</p>
    <hr />
    <p>&check; Job Posts by Client</p>
    <hr />
    <p>&check; Commission</p>
    <hr />
    <p>&check; Feedback&sol;Rating &sstarf;</p>
    <hr />
    <p>&check; GDPR</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Upto 15 Pages</p>
    <hr />
    <p>&check;Ecommerce Functionality</p>
    <hr />
    <p>&check; SEO Tool Setup</p>
    <hr />
    <p>&check; Google Analytic Account</p>
    <hr />
    <p>&check; Google Search Console</p>
    <hr />
    <p>&check; Sitemap</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Revisions: Depends</p>
    <hr />
    <p class="text-muted font-italic text-monospace">&check; Delivery Time: 20 Days</p>
  </div>
  <div class="card-footer">
    <a href="https://www.fiverr.com/shihabiiuc/develop-freelance-marketplace-website-find-hire-freelancers-consultants-post-job"
      target="_blank" class="btn btn-success btn-block">Start Order (&dollar;995)</a>
  </div>
</div>