<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About My Web Design &amp; Development Experience</h1>
        <p class="lead">
            I&apos;ve built a large number of WordPress Themes from scratch &amp; websites. I'm highly experienced in
            WordPress, also I&apos;m developing websites using JavaScript side tools &amp; technologies such as Node JS,
            Express JS and MongoDB for database.
        </p>
        <small class="text-success font-weight-bold">Node JS, Express, JavaScript, MongoDB | PHP, WordPress,
            MySQL</small>
        <hr>
    </div>
</div>

<div class="container py-md-5">
    <div class="row">
        <div class="col-lg-8">
    <h5 class="text-muted">Back-end programming language, framework, tools &amp; technologies:</h5>
    <p class="text-primary lead">Node.JS, Express, PHP, Laravel, Ruby on Rails.</p>
    <hr>
    <a href="https://www.bluehost.com/track/shihabiiuc/about" target="_blank"> <img border="0"
            src="https://bluehost-cdn.com/media/partner/images/shihabiiuc/488x160/488x160BW.png"> </a>

    <h5 class="text-muted mt-5">Front-end programming language, framework, tools &amp; technologies:</h5>
    <p class="text-primary lead">HTML, CSS, JavaScript, jQuery, Bootstrap.</p>
    <hr>

    <h5 class="text-muted mt-5">Automation & development environment tools &amp; technologies:</h5>
    <p class="text-primary lead">Git, Gulp, NPM, BEM, PostCSS.</p>
    <hr>

    <h5 class="text-muted mt-5">Content management system:</h5>
    <p class="text-primary lead">WordPress.</p>
    <p class="mt-3"><a href="/portfolio" class="text-muted font-weight-bold small">Check my Portfolio &raquo;</a></p>
    <hr>

    <h5 class="text-muted mt-5"><u>-WordPress Themes</u>, I can develop/create custom WordPress themes from scratch,
        aside from creating own themes I&apos;m highly experienced with popular themes:</h5>
    <p class="text-primary lead">The7, Divi, Extra, WoodMart, Electro, Astra, Hello Elementor, HireBee, FreelanceEngine, MicrojobEngine,
        etc.</p>
    <hr>

    <h5 class="text-muted mt-5"><u>-Wordpress Plugins &amp; Page Builders</u>, I&apos;ve hands on experience working
        with most of the popular WordPress Plugins mentioned bellow:</h5>
    <p class="text-primary lead">WooCommerce, ACF (Advanced Custom Fields), Bloom, Monarch, Elementor Page Builder,
        Elementor Pro, Thrive Architect, WPForms, Contact Form 7, All-in-One WP Migration, etc..</p>
    </div>

    <div class="col-lg-4 bg-light">
        <div class="card mx-auto my-5" style="width: 18rem;">
            <img data-src="../shihab.jpg" class="card-img-top lozad" alt="Shihab, Web developer">
            <div class="card-body">
                <h5 class="card-title">Shihab</h5>
                <p class="card-text text-muted">Start your web design &amp; development project with me &amp; my team.
                    Contact me if you have any question, I&apos;ll be more than happy to help.</p>
                <button id="contactShihab" class="btn btn-danger btn-block">Contact Me</button>
            </div>
        </div>
        <!-- instagram widget -->
        <div class="card mx-auto my-5" style="width: 18rem;">
            <div class="card-body">                    
                <img data-src="../B5A0jnHBxsX.jpg" class="img-fluid mx-auto d-block img-thumbnail lozad" alt="instagram photo">
                <a href="https://www.instagram.com/shihabiiuc/" target="_blank" class="my-3 btn btn-secondary btn-block">Instagram</a>
            </div>
        </div>
        
        
    </div> <!-- col-lg-4 -->
    </div>
</div>

<div id="popup-contact-shihab" class="js-initial-position">
    <span class="spacer">contact with Shihab to design your website</span>
    <img id="icon-close" src="../times-solid.svg" alt="close icon"
        class="close-icon mx-auto d-block shadow p-3 mb-5 bg-white rounded mt-5">
    <div class="container">

        <div class="popup-contact-shihab--method mx-auto rounded shadow-lg">
            <h3><small class="text-muted">Use any of the following method you are comfortable with</small></h3>
            <h6 class="display-4"><a class="text-secondary" href="mailto:hello@shihabiiuc.com" target="_blank">Email: hello@shihabiiuc.com</a>
            </h6>
            <h6 class="display-4"><a class="text-success" href="https://www.linkedin.com/in/shihabiiuc/" target="_blank">LinkedIn</a>
            </h6>
            <h6 class="display-4"><a class="text-secondary" href="https://facebook.com/ibuildyourwebsite" target="_blank">Facebook</a>
            </h6>
        </div>
    </div> <!-- .container -->
</div><!-- #popup-contact-shihab -->

<%- include('includes/footer') %>