<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Web Developer -Node JS, Express, MongoDB | WordPress</h1>
      <p class="lead">
        I&apos;ve built a large number of WordPress Themes from scratch &amp; websites. I'm highly experienced in WordPress, also I&apos;m developing websites using JavaScript side tools &amp; technologies such as Node JS, Express JS and MongoDB for database.
      </p><hr>
    </div>
</div>

<div class="container py-md-5 container--narrow">
    <h3 class="text-muted"><code>&lt;section&gt;</code><code class="text-success">backend</code><code>&lt;&sol;section&gt;</code><br>Back-end programming language, framework, tools &amp; technologies:</h3>
    <code class="display-4">Node.JS, Express, PHP, Laravel, Ruby on Rails.</code>
    <hr>
    <a href="https://www.bluehost.com/track/shihabiiuc/about" target="_blank"> <img border="0" src="https://bluehost-cdn.com/media/partner/images/shihabiiuc/488x160/488x160BW.png"> </a>

    <h3 class="text-muted mt-5"><code class="text-primary">&lt;section&gt;</code><code class="text-danger">frontend</code><code class="text-primary">&lt;&sol;section&gt;</code><br>Front-end programming language, framework, tools &amp; technologies:</h3>
    <code class="display-4 text-primary">HTML, CSS, JavaScript, jQuery, Bootstrap.</code>
    <hr>

    <h3 class="text-muted mt-5"><code class="text-success">&lt;section&gt;</code><code class="text-body">automation &amp; dev environment</code><code class="text-success">&lt;&sol;section&gt;</code><br>Other tools &amp; technologies for development environment &amp; automation:</h3>
    <code class="display-4 text-success">Git, Gulp, NPM, BEM, PostCSS.</code>
    <hr>

    <h3 class="text-muted mt-5"><code class="text-dark">&lt;section&gt;</code><code class="text-danger">cms</code><code class="text-dark">&lt;&sol;section&gt;</code><br>Content management system:</h3>
    <code class="display-4 text-dark">WordPress.</code>
    <p class="mt-3"><a href="/portfolio" class="text-muted font-weight-bold small">Check my Portfolio &raquo;</a></p>
    <hr>

    <h3 class="text-muted mt-5"><code class="text-info">&lt;section&gt;</code><code class="text-warning">-wordpress themes</code><code class="text-info">&lt;&sol;section&gt;</code><br>I can develop/create custom WordPress themes from scratch, aside from creating own themes I&apos;m highly experienced with popular themes:</h3>
    <code class="display-4 text-info">Divi, Extra, WoodMart, Electro, Astra, OceanWP, Hestia, HireBee, FreelanceEngine, MicrojobEngine, etc.</code>
    <hr>

    <h3 class="text-muted mt-5"><code class="text-danger">&lt;section&gt;</code><code class="text-success">-wordpress plugins &amp; page builder</code><code class="text-danger">&lt;&sol;section&gt;</code><br>I can develop/create custom WordPress themes from scratch, aside from creating own themes I&apos;m highly experienced with popular themes:</h3>
    <code class="display-4 text-danger">WooCommerce, ACF (Advanced Custom Fields), Bloom, Monarch, Elementor Page Builder, Elementor Pro, Contact Form 7, All-in-One WP Migration, etc.</code>

</div>

<div class="container mb-5">
    <div class="card mx-auto" style="width: 18rem;">
        <img src="../shihab.jpg" class="card-img-top" alt="Shihab, Web developer">
        <div class="card-body">
          <h5 class="card-title">Shihab</h5>
          <p class="card-text text-muted">Start your web design &amp; development project with me &amp; my team. Contact me if you have any question, I&apos;ll be more than happy to help.</p>
          <button id="contactShihab" class="btn btn-danger btn-block">Contact Me</button>
        </div>
      </div>
</div>

<div id="popup-contact-shihab" class="js-initial-position">
    <img id="icon-close" src="../times-solid.svg" alt="close icon" class="close-icon mx-auto d-block shadow p-3 mb-5 bg-white rounded mt-5">
    <div class="container">

        <div class="popup-contact-shihab--method mx-auto rounded shadow-lg">
            <h3><small class="text-muted">Use any one of the following contact method you&apos;re comfortable with.</small></h3>
            <h6 class="display-4">Email: shihabdinajpur&commat;gmail.com</h6>
            <h6 class="display-4">Skype: shihabdinajpur</h6>
            <h6 class="display-4">Phone: +8801947888197</h6>
        </div>

    </div> <!-- .container -->
</div><!-- #popup-contact-shihab -->

<div class="container py-md-5 container--narrow text-center mb-5">
    <a href="https://www.bluehost.com/track/shihabiiuc/about" target="_blank"> <img border="0" src="https://bluehost-cdn.com/media/partner/images/shihabiiuc/488x160/488x160BW.png"> </a>
</div>
  
<%- include('includes/footer') %>