<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Web Developer -Node JS, Express, MongoDB | WordPress</h1>
      <p class="lead">
        Previously built a lot of WordPress Themes from scratch &amp; websites and still I'm doing it. Also familiar with PHP &amp; Ruby on Rails but currently practicing and focusing on JavaScript side tools &amp; technologies such as Node JS, Express JS and that is why I like MongoDB because the database understands JavaScript syntax.  
      </p><hr>
    </div>
</div>

<div class="container mb-5">
    <div class="card mx-auto" style="width: 18rem;">
        <img src="../shihab.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Shihab</h5>
          <p class="card-text text-muted">I've my own web design &amp; development business office at Bangladesh, and also working as a freelance web developer &amp; web designer on Fiverr &amp; Upwork.</p>
          <!-- <a href="/contact" class="btn btn-danger btn-block">Contact Me</a> -->
          <button id="contactShihab" class="btn btn-danger btn-block">Contact Me</button>
        </div>
      </div>
</div>
<div id="popup-contact-shihab" class="js-initial-position">
    <img id="icon-close" src="../times-solid.svg" alt="close icon" class="close-icon mx-auto d-block shadow p-3 mb-5 bg-white rounded mt-5">
    <div class="container">
      <div class="row">

        <div class="card mx-auto mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <!-- Put this code anywhere in the body of your page where you want the badge to show up. -->

<div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
  <a itemprop='url' href=https://www.fiverr.com/shihabiiuc rel="nofollow" target="_blank" style='display: inline-block;'>
     <div class='fiverr-seller-content' id='fiverr-seller-widget-content-e9670e28-e353-4115-b73e-d488a05bd0a5' itemprop='contentURL' style='display: none;'></div>
     <div id='fiverr-widget-seller-data' style='display: none;'>
         <div itemprop='name' >shihabiiuc</div>
         <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
         <div itemprop='jobtitle'>Seller</div>
         <div itemprop='description'>There are over 1.5 billion websites around the web but most of them actually failed. 94.3% of new websites get zero traffic. It's because they just don't have the key pieces of information inline before they get started.

You can call me 'Shihab' and I'm going to give you those pieces of information and help you to create a Successful Website.

Your website is the core of your online marketing activities but a bad website will cause you to waste money on other marketing methods.

I'll ensure your ROI on the Web Design & Development project. Start a small Investment today!</div>
     </div>
 </a>
</div>

<script id='fiverr-seller-widget-script-e9670e28-e353-4115-b73e-d488a05bd0a5' src='https://widgets.fiverr.com/api/v1/seller/shihabiiuc?widget_id=e9670e28-e353-4115-b73e-d488a05bd0a5' data-config='{"category_name":"Programming \u0026 Tech"}' async='true' defer='true'></script>

            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-primary">Contact Me on Fiverr</h5>
                <p class="card-text">You can call me 'Shihab' and I'm going to give you those pieces of information and help you to create a Successful Website. Your website is the core of your online marketing activities but a bad website will cause you to waste money on other marketing methods. I'll ensure your ROI on the Web Design & Development project. Start a small Investment today!</p>
                <p class="card-text"><small class="text-muted">Last updated 12 April, 2020</small></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
  
<%- include('includes/footer') %>