<%- include('includes/header') %>

<div id="salon" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hair Salon Website Design &amp; Development -FREE domain &amp; hosting incuded!</h1>
    <p class="lead">
      This offer is specially for them who have small Hair Salon, and want to grow their
      Salon business.
    </p>
    <p class="lead">I will create a beautiful &amp; mobile responsive website for your Hair Salon. Your customers will
      find you in
      Google Search, they can contact &amp; book you from your website, and much more. I mentioned a &dollar;50 sample
      hair salon
      website link at the bottom.</p>
    <small class="text-success font-weight-bold">FREE Domain &amp; Hosting also included with this &dollar;50 Salon web
      development
      package.</small>
    <hr>
  </div>
</div>


<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title display-4 text-primary text-center">What&apos;s Included</h5>
          <p class="display-4 text-primary font-weight-bold text-center">Price: &dollar;50</p>
          <p class="card-text font-weight-bold small">
            Fully editable &amp; customizable Salon website design &amp; development.
          </p>
          <hr />

          <p>&check; Mobile Responsive Salon Website</p>
          <hr />
          <p>&check; A Domain (<u>www.yourname.com</u>)</p>
          <hr />
          <p>&check; Hosting (website will be hosted on <a href="https://www.bluehost.com/track/shihabiiuc/"
              target="_blank">Bluehost</a>)</p>
          <hr />
          <p>&check; 1 Month Free Support</p>
          <hr />
          <p>&check; Contact Form</p>
          <hr />
          <p>&check; Content Upload</p>
          <hr />
          <p>&check; Niche Website</p>
          <hr />
          <p>&check; Four Unique Pages for the startup</p>
          <hr />
          <p>&check; SEO Tool Setup</p>
          <hr />
          <p>&check; Google Analytic Account</p>
          <hr />
          <p>&check; Google Search Console</p>
          <hr />
          <p>&check; Sitemap</p>
          <hr />
          <p class="text-muted font-italic text-monospace">
            &check; Revisions: 2
          </p>
          <hr />
          <p class="text-muted font-italic text-monospace">&check; Delivery Time: 2 Days</p>
        </div>
        <div class="card-footer">
          <form action="/payment" method="POST">
            <input type="number" class="form-control d-none" name="price" value="50" />
            <button type="submit" class="btn btn-success btn-block">Continue (&dollar;50)</button>
          </form>
          <br>
          <p class="text-muted text-monospace">Continuing means you&apos;re agree with our <a href="/privacy-policy"
              target="_blank">Privacy Policy</a>,
            <a href="/refund-policy" target="_blank">Refund Policy</a> &amp; <a href="/terms-and-conditions"
              target="_blank">Terms &amp;
              Conditions</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-primary" role="alert">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        Do you want to make the payment with other methods than PayPal?<br><br>You can also make the order on
        <a href="https://www.fiverr.com/shihabiiuc/create-wordpress-website-with-ui-ux-design"
          target="_blank">Fiverr.Com</a>.<br>But in this case we&apos;ll charge &dollar;60 because Fiverr will
        deduct 20&percnt; from my account as a commission. They accepts all sorts of popular payment methods.
        <a class="font-weight-bold" href="https://www.fiverr.com/shihabiiuc/create-wordpress-website-with-ui-ux-design"
          target="_blank">Order
          &amp; Make Payment on Fiverr &raquo;</a>
      </div>
    </div>
  </div>
</div>



<%- include('includes/footer') %>