<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Order Cancelled!</h1>
        <p class="lead">Your order has been cancelled and your account has not been charged.</p>

        <blockquote class="blockquote">
            <p class="mb-0">In the mean time, or any kind of help&sol;information&sol;query, don&apos;t hesitate to contact me.</p>
            <footer class="blockquote-footer" style="background-color: transparent;">Shihab, <cite title="Source Title">Web Developer &amp; Team Leader, Shihabiiuc.Com</cite></footer>
            <code>hello&commat;shihabiiuc.com</code>
        </blockquote>

    </div>
</div>

<div class="container text-center py-md-5 container--narrow">
    <p class="display-4">What Holds You Back!</p>
    <p class="small">If you&apos;re not sure about the right package, you can contact me using my email mentioned above.</p>
    <a class="small text-muted font-weight-bold" href="/pricing">&laquo;Back to packages</a>
</div>


<%- include('includes/footer') %>