<%- include('includes/header') %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Website Development for <span class="font-weight-bold">Cleaning Company</span></h1>
    <p class="lead">Build a stunning online presence for your cleaning company, get found easily by your clients.</p>
  </div>
</div>

<div class="container py-md-5 container--narrow bg-light">
  <ul class="list-group">
    <li class="list-group-item active display-4">What you will get for &dollar;95 only:</li>
    <li class=" list-group-item">Fully functional website with three unique pages.</li>
    <li class="list-group-item list-group-item-primary">Content creation.</li>
    <li class="list-group-item list-group-item-success">Search engine optimization.</li>
    <li class="list-group-item list-group-item-danger">Mobile responsive design.</li>
    <li class="list-group-item list-group-item-warning">Fast loading.</li>
    <li class="list-group-item list-group-item-info">Easy to customize.</li>
    <li class="list-group-item list-group-item-dark">Know about your website visitors (Analytics).</li>
  </ul>
  <!-- escrow -->
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Your Money Protection Escrow!</strong> Your money will be held in Escrow (e.g: Fiverr) while I work for your
    website and your money will be released to me ONLY if you ACCEPT my work.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- work samples -->
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Work samples!</strong> Check two of my recent and related work samples before ordering.<br>
    <a href="https://www.csclean.org/" target="_blank">1. Common Sense Cleaning</a> <br>
    <a href="https://bluecatcleaning.com/" target="_blank">2. Blue Cat Cleaning</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- prerequisite -->
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Prerequisite!</strong> You have to have your own domain, hosting and logo (optional). If you do not have
    domain and hosting then I will charge additional &dollar;30 for it. If you have any question, send me an email to
    <span class="text-monospace"><u>hello@shihabiiuc.com</u></span>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <a href="https://www.fiverr.com/shihabiiuc/create-wordpress-website-with-ui-ux-design" target="_blank"
    class="btn btn-outline-info btn-lg btn-block my-3 font-weight-bold" role="button"><img
      style="max-width: 30px; height: auto;" src="icons/shopping-cart.svg" alt="website content writing"> ORDER NOW</a>

</div>

<div class="container-fluid py-5 mt-5" style="background-color: #d4edda;">
  <div class="container container--narrow">
    <h3 class="mt-5" style="color: #155724;">Please Check what other clients said about me and my web development
      service.</h3>
    <a href="https://www.fiverr.com/shihabiiuc/" target="_blank">1. Fiverr</a><br>
    <a href="https://www.linkedin.com/in/shihabiiuc/" target="_blank">2. LinkedIn</a>
  </div>
</div>


<%- include('includes/footer') %>