<%- include('includes/header') %>

<div class="container py-md-5 container--narrow text-center">
    <h1 class="mt-5">Contact Me to Design Website</h1>
    <p class="lead">Use any one of the following contact method you're comfortable with.</p>
    <p class="display-4">Email: <code>shihabdinajpur&commat;gmail.com</code></p>
    <p class="display-4">Skype: <code>shihabdinajpur</code></p>
    <p class="display-4">Phone: <code>+880 1947 888 197</code></p>
</div>


<%- include('includes/footer') %>