<%- include('includes/header') %>

<div class="contact_page py-5">
    <div class="container container--narrow text-center">
        <h1 class="mb-0">Contact Me to Design Website</h1>
        <p class="lead mb-4">Please contact me on Fiverr platform. If you came across Google search, don&apos;t worry!
            It only takes few minutes to create an account on Fiverr. It&apos;s super secure as well. They will keep
            your fund in escrow while I work for you &amp; only release the fund once you approve my work. See you
            there!</p>
        <p class="display-4">Follow <a href="https://www.fiverr.com/shihabiiuc" target="_blank">this link</a> to contact
            me!</a></p>
        <hr>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Please allow me to write you back!</strong> Since I work on a freelance marketplace called
            <u>Fiverr.Com</u>, I&apos;ve to obey their rules, terms of services. So if you came across
            <u>Fiverr.Com</u>, I would
            suggest you to contact me via <u>Fiverr</u> platform. But if you want to discuss about your project in a
            video call,
            you&apos;ve to make the payment first on <u>Fiverr.Com</u>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="container py-5 container--narrow text-center mb-5">
    <a href="https://www.bluehost.com/track/shihabiiuc/contact" target="_blank"> <img border="0"
            src="https://bluehost-cdn.com/media/partner/images/shihabiiuc/430x288/430x288BW.png"> </a>
</div>


<%- include('includes/footer') %>