<%- include('includes/header') %>

<div class="contact_page py-5">
    <div class="container container--narrow text-center">
        <h1 class="mb-0">Contact Me to Design Website</h1>
        <p class="lead mb-4">Use any one of the following contact method you're comfortable with.</p>
        <p class="display-4">Email: shihabdinajpur&commat;gmail.com</p>
        <p class="display-4">Skype: shihabdinajpur</p>
        <p class="display-4">Phone: +880 1947 888 197</p>
        <hr>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Please allow me to write you back!</strong> Since I work on a freelance marketplace called
            <u>Fiverr.Com</u>, I&apos;ve to obey their rules, terms of services. So if you came across
            <u>Fiverr.Com</u>, I would
            suggest you to contact me via <u>Fiverr</u> platform. But if you want to discuss about your project in a
            video call,
            you&apos;ve to make the payment first on <u>Fiverr.Com</u>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="container py-5 container--narrow text-center mb-5">
    <a href="https://www.bluehost.com/track/shihabiiuc/contact" target="_blank"> <img border="0"
            src="https://bluehost-cdn.com/media/partner/images/shihabiiuc/430x288/430x288BW.png"> </a>
</div>


<%- include('includes/footer') %>