<%- include('includes/header') %>

<div class="page_banner py-5">
    <div class="container text-center">
        <div class="page_heading funky-border-bottom">
            <h1 class="py-5">Contact Me to Design &amp; Develop Your Website</h1>
        </div>

        <div class="content container--narrow mx-auto funky-border-top">
            <h5 class="white border-bottom-gradient my-5">If you came across a <span class="text-highlight">Marketplace</span> please contact me <span class="text-highlight">There.</span></h5>
        </div> 
    </div>
</div>

<div class="contact_method py-5">
    <div class="container--narrow mx-auto">           
        <h3 class="text-center">Contact Email: hello&commat;shihabiiuc.com</h3>                
    </div>
</div>
<hr>

<div class="container container--narrow">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Please allow me to write you back!</strong> Since I also work on Marketplace, I&apos;ve to obey their rules, terms of services. So if you came across Marketplace please contact me there and please <u>do not purchase anything on this website.</u>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="container py-5 container--narrow text-center mb-5">
    <a href="https://www.bluehost.com/track/shihabiiuc/contact" target="_blank"> <img border="0"
            src="https://bluehost-cdn.com/media/partner/images/shihabiiuc/430x288/430x288BW.png"> </a>
</div>


<%- include('includes/footer') %>