<%- include('includes/header') %>
  
  <div class="container py-md-5 container--narrow">

    <%- include('includes/flash') %>

    <form action="/create-post" method="POST">
      <div class="form-group">
        <label for="post-title" class="text-muted mb-1"><small>Subject</small></label>
        <input required name="title" id="post-title" class="form-control form-control-lg form-control-title" type="text" placeholder="" autocomplete="off">
      </div>

      <div class="form-group">
        <label for="post-body" class="text-muted mb-1"><small>Detail About Your Issue</small></label>
        <div class="alert alert-warning" role="alert">
          # H1, ## H2... ###### H6, `code`, **bold**, *italic*
        </div>
        <textarea required name="body" id="post-body" class="body-content tall-textarea form-control" type="text"></textarea>
      </div>
      
      <button class="btn btn-secondary">Create New Post</button>
    </form>
  </div>
  
  <%- include('includes/footer') %>