<%- include('includes/header') %>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Answer of website design &amp; development questions</h1>
        <p class="lead">How we &amp; our pricing work, how we collect payments, what about client&apos;s safety, customer support, revisions, updating, scope &amp; out of scope, etc.</p>
    </div>
</div>

<div class="container py-md-5 container--narrow">
    <div class="accordion" id="accordionExample">

        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link display-4 font-weight-light font-italic" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        #1. What is the initial advance fee for the website design?
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body text-muted">
                    Except our <a href="/pricing" target="_blank">pre-bundled packages</a>, you can make payments in 3 installments: (20% + 40% + 40%).
                    <ul>
                        <li class="list-inline-item">1. Initial payment is 20% for setting up the dev environments and starting website design. <span class="small">Example: If the total cost of your project is &dollar;100 then your first installment will be &dollar;20.</span></li>

                        <li class="list-inline-item">2. Your second installment is 40%. Once we finished the setup for development environment and installed necessary components on your server, you have to make payment for the second installment. <span class="small">Example: If the total cost of your project is &dollar;100 then your second installment will be &dollar;40.</span></li>

                        <li class="list-inline-item">3. Last installment is also 40%. Once we reached to the middle of your project then we&apos;ll notify you regarding your last &amp; final installment. On this stage we&apos;ll work on finishing your website, give your website final touch and work on post delivery query if you have any revision request. Please note that revision doesn&apos;t contains out of scope work. <span class="small">Example: If the total cost of your project is &dollar;100 then your third installment will be &dollar;40.</span></li>
                    </ul>
                </div>
            </div>
        </div>



    </div>
</div>

<%- include('includes/footer') %>