<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Leave Feedback&sol;Ratings to Seller After Your Order has been Automatically Completed on
      Fiverr.
    </h1>
    <p class="lead">
      In this same manner you&apos;re also able to send TIP&sol;Bonus. Some times buyers have additional requirements
      which are <u>Out of Scope</u> and not all the clients want to create separate order for those extra works. So the
      bonus or tip option is the great opportunity for clients to pay extra for their extra work.
    </p>
    <small class="text-success font-weight-bold text-800">This articles shows you two things: 1&rpar; How to
      leave feedback after
      your order has been completed automatically. 2&rpar; How to send TIP after your order has been automatically
      completed.</small>
    <hr>
  </div>
</div>

<div class="container">
  <p>Long story short, let&apos;s get started:</p>
  <p class="text-800">Assuming you&apos;re a client and your order has been completed automaticaly while you
    were busy. And now
    you want to leave a feedback&sol;rating to the seller. Also you want to give some TIP to the seller because
    you&apos;re super happy with the delivery or the seller has performed some extra works which was not icluded in the
    scope of
    work.</p>

  <div class="alert alert-success text-800" role="alert">
    <h4 class="alert-heading">Please note!</h4>
    <p>It will require to leave your <u>ratings</u> first and only then you&apos;ll be able to send TIP.</p>
    <hr>
  </div>

  <p class="lead">1&rpar; How to leave feedback after your order has been completed automatically:</p>
  <p class="text-800">Once you&apos;re logged in to your Fiverr account, click on 'Orders' &amp; find your the specific
    order you are
    looking for.</p>
  <div class="alert alert-danger text-800" role="alert">
    Make sure that you&apos;re visiting the website as a Buyer. Alternatively, you can click the link "<u>Switch to
      Buying</u>" somewhere on the top-right edge.
  </div>
  <p class="text-800">Alright! Once you find the specific order, just click on it &amp; you&apos;ll find a button called
    "Rate
    Experience". Go ahead and share your feedback.</p>
  <img src="/fiverr/rate_experience_and_send_bonus_tip-min.jpg" class="img-fluid shadow p-3 mb-5 bg-white rounded"
    alt="Responsive image rate experience">
  <p>Oops! Finally found the button! Ah!</p>
  <p class="lead">2&rpar; How to send TIP after your order has been automatically
    completed:</p>
  <p>Once leave your feedback, Fiverr will ask you about the TIP. Feel free to use it if needed. That&apos;s all.</p>

  <div class="alert alert-warning py-5 my-5 text-800" role="alert">
    <h4 class="alert-heading">Get started with your WordPress website up &amp; running quickly!</h4>
    Answer some of our questions regarding your upcoming WordPress website, get a perfect quote, accept the quote on <a
      href="https://www.fiverr.com/shihabiiuc" target="_blank">Fiverr</a> and get started! <a download
      href="/questionnaire.pdf" class="alert-link">Download Qustionnaire</a>.
  </div>
</div>


<%- include('includes/footer') %>