<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="100 days of code challenges, this is a node js application for testing and learning node.js, express js, javascript &amp; mongodb.">
  <meta name="keywords" content="100daysofcode, node, js, nodejs, express, mongodb, javascript, web developer, web designer, freelancer, wordpress, ecommerce">
  <meta name="author" content="Shihab Ul Haque">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>100 Days of Code</title>
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <header class="header-bar">
    <div class="container d-flex flex-column flex-md-row align-items-center p-3">
      <h4 class="my-0 mr-md-auto font-weight-normal"><a href="/" class="text-white">#100DaysOfCode</a></h4>
      <ul class="nav mr-md-auto">
        <li class="nav-item">
          <a class="nav-link text-muted" href="/about">About</a>
        </li>
      </ul>
      
      <form action="/login" method="POST" class="mb-0 pt-2 pt-md-0">
        <div class="row align-items-center">
          <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
            <input name="username" class="form-control form-control-sm input-dark" type="text" placeholder="Username" autocomplete="off">
          </div>
          <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
            <input name="password" class="form-control form-control-sm input-dark" type="password" placeholder="Password">
          </div>
          <div class="col-md-auto">
            <button class="btn btn-primary btn-sm">Login</button>
          </div>
        </div>
      </form>      
    </div>
  </header>
<!-- header ends here -->

<div class="container py-md-5">

  <% errors.forEach(function(message) { %>
    <div class="alert alert-danger text-center"><%= message %></div>
  <% }) %>

  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
      <h1 class="display-3 font-weight-bold">Built for developers</h1>      
      <p class="lead text-muted">GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code, manage projects, and build software alongside 40 million developers. -Text taken from GitHub</p>
    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <form action="/register" method="POST" id="registration-form">

        <% regErrors.forEach(function(message) { %>
          <div class="alert alert-danger text-center"><%= message %></div>
        <% }) %>

          <div class="form-group">
            <label for="username-register" class="text-muted mb-1"><small>Username</small></label>
            <input name="username" id="username-register" class="form-control" type="text" placeholder="Choose unique username" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
            <input name="email" id="email-register" class="form-control" type="text" placeholder="Enter valid email" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="password-register" class="text-muted mb-1"><small>Password</small></label>
            <input name="password" id="password-register" class="form-control" type="password" placeholder="Choose secure password">
          </div>
          
          <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Register an Account</button>
          
        </form>
      </div>
    </div>
  </div>
  
<!-- footer begins -->
<footer class="border-top text-center small text-muted py-3">
  <p class="m-0">Copyright &copy; 2019 <a href="/about" target="_blank" class="text-info">Shihab</a>. All rights reserved.</p>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>$('[data-toggle="tooltip"]').tooltip()</script>
</body>
</html>