<%- include('includes/header') %>

<div class="container py-md-5">

    <%- include('includes/flash') %>

  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
      <h1 class="display-3 font-weight-bold">Web development for your business</h1>
      <p class="lead text-muted">Providing web design &amp; development service around the globe since 2016, created large number of websites for clients which helped business owners to boost their reputations, getting more sales &amp; conversion. No one was regretted hiring me!</p>
      <p>Cutting edge technologies will be used for developing your website, it&apos;s mobile responsive, speed optimized, highly secured, spam protected, professional look, easy to navigate. Definitely it&apos;ll serve your purpose.</p>

        <a class="btn btn-outline-primary btn-sm" href="/pricing">Get Started</a>


    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <form action="/register" method="POST" id="registration-form">

        <% regErrors.forEach(function(message) { %>
          <div class="alert alert-danger text-center"><%= message %></div>
        <% }) %>

          <div class="form-group">
            <label for="username-register" class="text-muted mb-1"><small>Username</small></label>
            <input name="username" id="username-register" class="form-control" type="text" placeholder="Choose unique username" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="email-register" class="text-muted mb-1"><small>Email</small></label>
            <input name="email" id="email-register" class="form-control" type="text" placeholder="Enter valid email" autocomplete="off">
          </div>
          
          <div class="form-group">
            <label for="password-register" class="text-muted mb-1"><small>Password</small></label>
            <input name="password" id="password-register" class="form-control" type="password" placeholder="Choose secure password">
          </div>
          
          <button type="submit" class="py-3 mt-4 btn btn-lg btn-success btn-block">Register an Account</button>
          
        </form>
      </div>
    </div>
  </div>

  <%- include('includes/footer') %>