<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid" id="shihabiiuc_homebanner">
  <div class="container">
    <h1><span class="text-gradient">W</span>eb <span class="text-gradient-alt">D</span>eveloper for Your Business</h1>
    <p>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <span class="completed_order_summery">99&percnt; Positive Review on <span class="text-highlight">229</span> Completed Orders</span>
  </p>
  </div>
</div>

<div class="container py-md-5">

  <%- include('includes/flash') %>

  <div class="row align-items-center">

    <h2>A bad website will cause you to <span class="text-gradient">waste money</span> on other marketing methods.</h2>
    <div class="col-lg-7 py-3 py-md-5">
      
      <p class="lead text-muted">There are over 1.5 billion websites around the globe but most of them actually failed. 94.3% of new websites get zero traffic. It's because they just don't have the key pieces of information inline before they get started. You can call me Shihab &amp; I&apos;m team leader of a creative team. I'm going to give you those pieces of information and help you to create a <span class="text-highlight">Successful</span> Website for your business.
      <p class="lead text-muted font-italic">Your website is the core of your online marketing activities but a bad website will cause you to waste money on other marketing methods. I'll ensure your ROI on the Web Design & Development project. Start a small Investment today!</p>

      <div class="button gradient">
        <a href="/pricing">Get Started</a> 
      </div>


    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <img class="img-thumbnail lozad" data-src="../images/home_page/Shihab.jpg" alt="Shihab, Web Developer">
      <figcaption class="figure-caption text-center">Shihab, Web Developer, Team Leader at Shihabiiuc</figcaption>
    </div>
  </div>
</div>

<section class="bg-light-shape service_section_homepage">
<div class="service_container_before">
  <div class="container align-items-center service_container">
    <div class="row">
      <div class="col-12">
        <h3>What I can do -My solution &amp; servic<span
            style="text-decoration: underline;">e</span></h3>
        <p class="text-800">Of course I&apos;m not guru on everything. I&apos;ve a professional team who works on content contention, graphic designing, Marketing and SEO. I work as a Full Stack Developer myself and other fellow web designers & developers also work in my creative team.</p>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="card text-white bg-primary mb-3">
          <div class="card-header"><img src="icons/code.svg" alt="web design, development"> Web Design &amp;
            Development
          </div>
          <div class="card-body">

            <p class="card-text">This is the thing I handle myself and started my career with this website design &amp;
              development service. I create website based on content &amp; your business niche. I develop custom
              web-functionalites depending on your unique need &amp; based on my capabilities. As of September 2020,
              already built more than one hundred <span style="text-decoration: underline;">successfull</span> websites.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="card text-white bg-success mb-3">
          <div class="card-header"><img src="icons/ink.svg" alt="website content writing"> Content Writing</div>
          <div class="card-body">
            <p class="card-text">I don&apos;t use placeholder text while designing &amp; developing a website. This is
              just because of the success of your business &amp; success of your website. I will create the look &amp;
              feel of your website based on your business niche &amp; based on the content. Publishing a website with
              dummy/placeholder text is a nightmare and this is the first big mistake made by many of the website
              owners. If you don&apos;t have the text content for your website, my professional<span
                class="text-warning bg-dark"> team </span> will do it for you.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 d-flex">
        <div class="card text-white bg-info mb-3">
          <div class="card-header"><img src="icons/search.svg" alt="website content writing"> SEO</div>
          <div class="card-body">

            <p class="card-text">This is the final step I&sol;we do before delivering a website. Finding your business
              or your website in Google was never been easy. Same thing is also true for other major search engines. From content creation to sitemap submission, we do all the
              heavy lifting for you. And of course it&apos;s not one time process and you will not get the result immediately. But your website will be more findable in search gradually. Also you have to keep maintaining the
              website on a regular basis to get most out of it.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

   <!-- HOW IT WORKS -->
   <section class="how-it-works">
    <div class="container">
        <h3 class="display-5 pt-5"><span class="text-gradient">Three easy steps</span> to get up &amp; running quickly with your business website.</h3>
        <p class="section-description">During the last five years of web developing experience I noticed that I&apos;ve to ask many <span class="text-highlight">similar questions</span> to most of my clients; over &amp; over! It&apos;s not a bad thing but it&apos;s time consuming both for us. Lack of availability, time zone difference, not able to think&sol;answer properly upfront,.. the list goes on. So I created a super <span class="text-highlight">valueable questionnaire</span> for future clients. Once you place a web designing &amp; developing <span class="text-highlight">order</span>, I&apos;ll send you the <span class="text-highlight">questionnaire</span> &amp; it contains <span class="text-highlight">22 questions</span>. All you have to do is- write down your answers in a word document &amp; <span class="text-highlight">send it back</span> to me. THAT&apos;S IT!
          
        </p>
        
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="step one">
                    <div class="icon">
                        <span>1</span>
                        <i class="fas fa-money-check"></i>
                    </div><!-- /.icon-->
                    <h4>Make the Payment</h4>
                    <p>The first step is to make the payment for any specific web development package&sol;custom-offer.</p>
                </div><!-- /.step -->
            </div><!-- /.col-4 -->

            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="step two">
                    <div class="icon">
                        <span>2</span>
                        <i class="fas fa-edit"></i>
                    </div><!-- /.icon-->
                    <h4>Answer to Questions</h4>
                    <p>Once you place the order, I will send you a questionnaire with 22 questions. And you have to send me back the answer in a word document.</p>
                </div><!-- /.step -->
            </div><!-- /.col-4 -->


            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="step three">
                    <div class="icon">
                        <span>3</span>
                        <i class="fas fa-globe"></i>
                    </div><!-- /.icon-->
                    <h4>Get Your Website</h4>
                    <p>Depending on your answer &amp; your unique requirement, we will start working on your order. We generally deliver a website in a week.</p>
                </div><!-- /.step -->
            </div><!-- /.col-4 -->

            <div class="button button_center button_wide mt-5 gradient">
              <a href="/pricing">Packages</a> 
            </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.how-it-works -->

<section class="roi_guarantee">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <img class="img-thumbnail lozad" data-src="../images/home_page/Shihab-Hilltex.jpg" alt="Shihab, Web Developer">
        <figcaption class="figure-caption text-center">Shihab, Web Developer, Team Leader at Shihabiiuc</figcaption>
      </div>
      <div class="col-lg-7">
        <h3>Escrow <span class="text-gradient-alt">protection</span> &amp; money back <span class="text-gradient">guarantee</span>  -no questions asked</h3>
        <p class="white">Escrow is a financial contract where buyer&apos;s fund is holded by a third party company and releases the fund to the seller only when buyer approves seller&apos;s work OR all the work has been done as per agreement. <a href="https://www.escrow.com/what-is-escrow" target="_blank" rel="nofollow">See more about escrow &raquo;</a></p>

        <p class="white">If this is your first attempt working with us or if you are thinking about making a deal, you can make the payment via <span class="text-highlight">escrow platform.</span></p>

        <p class="white">We offer you a <span class="text-highlight">Money Back Guarantee with No Questions Asked.</span> If you can say that you&apos;re not happy with our work, we&apos;ll refund your money with no questions asked. This is just our level of confidence!</p>
      </div>
    </div>
  </div>
</section><!--roi_guarantee ends-->

<section class="testimonial_home lozad" data-background-image="images/home_page/Shihab-Jhulontobridge.jpg">
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-lg-7">
        <h2 class="testimonial_heading">Testimonial -a formal statement <span class="text-gradient-alt">testifying</span> my qualifications</h2>
        <div id="carouselExampleIndicators" class="carousel slide testimonial-pricing-page" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <h2 class="text-center ratings">    
              
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              
            </h2>
            <div class="carousel-item active">
              <blockquote class="blockquote text-center">
                <p class="mb-0">Shihab Haque is an incredible web designer and proficient at "all things" web related. I highly
                  recommend him. He's honest, patient and a very hard working. I've used him for all our web related work and
                  will continue to hire Shihab in the future!</p>
                <footer class="blockquote-footer">
                  Jillkahn, Empowerhouse Group, <cite title="Source URL"><a
                      href="https://www.instagram.com/empowerhouseleadership/" target="_blank">IG Profile</a></cite>
                </footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote text-center">
                <p class="mb-0">I was really impressed by the efficiency, speed and technical support of Shihab. When I need it,
                  I will certainly use his services because I am really satisfied with his job.</p>
                <footer class="blockquote-footer">
                  Diamoro, Brioschisrl, <cite title="Client wants to be anonymous"><a class="link-disabled"
                      href="https://www.brioschisrl.it/" target="_blank">Website&sol;Profile</a></cite>
                </footer>
              </blockquote>
            </div>
            <div class="carousel-item">
              <blockquote class="blockquote text-center">
                <p class="mb-0">Shihabiiuc is the absolute best! He is a great designer, wordpress guru and great to work with
                  and will get take care of you. I will continue to use him for all our work.</p>
                <footer class="blockquote-footer">
                  Upchurch, 33supply, <cite title="Source URL"><a href="https://www.instagram.com/33supply/" target="_blank">IG
                      Profile</a></cite>
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <p class="text-transparent">Client feedback</p>
      </div>
    </div>
  </div>
</section>

<%- include('includes/footer') %>