<%- include('includes/header') %>
<link href="https://fonts.googleapis.com/css2?family=Tajawal&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Volkhov&display=swap" rel="stylesheet">

<section class="hero">
  <div class="block shape">
    <h1 class="headline narrow align-right right">Elementor PRO License and Starter Website</h1>
    <p class="text subtitle narrow align-right right">Get Elementor PRO License and Starter website only with &dollar;20 USD.</p>
  </div>
</section>

<section class="brakdown">
  <div class="block shape_two">
    <h2 class="headline black center pt-5">Here is the big <span class="gradient">DEAL!</span></h2>
    <p class="text">
      I will install <span class="gradient">Elementor PRO License</span> on your WordPress website and import a starter template which you can customize very easily. Also you are free to import multiple templates, single pages, global components such as header, footer, 404 page, search archive, blog&sol;post archive and everything offered in Elementor PRO. You will get everything in just<span class="gradient"> &dollar;20 USD.</span>
    </p>
    <a class="cta_button" href="#email">GET STARTED NOW</a>
  </div>
</section>

<section id="email" class="contact">
  <div class="block shape_three">
    <p class="text text-lg blue center">Send me an email to <span class="white highlight">hello@shihabiiuc.com</span> to get started.<br>Or contact me via chat below.</p>
    <p class="text center py-5">Overall Cost: <span class="highlight">&dollar;20 USD</span> Only!</p>
  </div>
</section>

<section>
  <div class="block">
    <p class="text">I believe you already know about <span class="gradient">Elementor Page Builder</span> and about it&apos;s Pricing as well. You can check the price once again <a href="https://elementor.com/pricing/" target="_blank">here.</a></p>

    <p class="text-lg mt-5">Frequently Asked Question</p>
    <p class="text gradient">&num;1 How it&apos;s possible to give a &dollar;49 Elementor PRO License only with &dollar;20?</p>
    <p class="text">I bought 1,000 (one thousand) Licenses at a time and that is why my unit price is less than a single site license price. Another important thing- I&apos;m NOT Re-selling the Elementor Licenses. I&apos;m offering you a starter website design which will be built with Elementor PRO page builder.</p>
    <p>I will upload the Elementor PRO plugin on your website &amp; activate a genuine license of it. And then I will build a starter website. Also you are free to use the plugin on your site exactly you want. It&apos;s totally yours.</p>

    <p class="text gradient mt-5">&num;2 How to make the payment?</p>
    <p class="text">The payment will be handled by 3rd party money escrow platform. So you will get the service first and then I will get the payment after you accept my service & only once you release the fund for me.</p>

    <p class="text text-lg mt-5">Got a Question?<br>Reach out to: <span class="highlight">hello@shihabiiuc.com</span></p>
  </div>
</section>




<style>
  .shape_three{
    background: url(../elementor_logo.png) no-repeat left bottom;
    background-size: 70px 70px;
  }
  @media (min-width: 768px) {
    .shape_three{background-size: 100px 100px;}
  }
  .highlight{
    text-shadow: 1px 1px 2px #182860;
  }
  .contact{
    background-color: #FFA000;
  }
    a.cta_button{
    font-family: 'Volkhov', serif;
    border-radius: 6px;
    background-image: -webkit-linear-gradient( -15deg, rgb(246,32,66) 0%, rgb(251,65,71) 47%, rgb(255,97,76) 100%);
    box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.14);
    color: #fff !important;
    padding: 30px 60px;
    display: table;
    width: 92%;
    font-size: 20px;
    text-align: center;
    margin: 30px 20px;
  }
  @media (min-width: 768px) {
    a.cta_button{font-size: 2rem;}
  }
  a.cta_button:hover{text-decoration: none;}
  .gradient{
    background: -webkit-linear-gradient(#FFA000, #FF2252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .shape_two{
    background: url(../background-shape-lines.png) no-repeat top right;
    background-size: 282px 112px; 
  }
  .center{text-align: center;}
  .shape{
    background: url(../background-shape.jpg) no-repeat left bottom;
    background-size: 100px 100px;
  }
  @media (min-width: 768px) {
    .shape{background-size: 200px 200px;}
  }
  .right{float: right;}
  .align-right{text-align: right;}
  .narrow {max-width: 600px;}
  .subtitle{color: #FF2252; padding-left: 100px;}
  .block{max-width: 1000px; display: block; margin: 0 auto;}
  .block::after{
    content: "";
    display: table;
    clear: both;
  }
  section{padding: 90px 10px;}
  .hero{
    background-color: #182860;
  }
  .headline{
    color: #FFA000;
    font-family: 'Tajawal', sans-serif;
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    .headline{font-size: 5rem;}
  }
  p.text {
    font-family: 'Volkhov', serif;
    font-size: 1.2rem;
  }
  @media (min-width: 768px) {
    p.text{font-size: 1.5rem;}
  }
  .black {color: #000000;}
  .blue{color: #182860;}
  .white{color: #ffffff;}
  p.text-lg{
    font-size: 1.8rem;
  }
  @media (min-width: 768px) {
    p.text-lg{font-size: 2.5rem;}
  }
</style>

<%- include('includes/footer') %>