<%- include('includes/header') %>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

<div class="intro">
  <h3 class="offer-pill">Limited time offer</h3>
  <h1 class="offer-heading">Build a traffic driven <u>website</u> for your business</h1>
  <p class="offer-short-commitment">No hidden cost, unique website based on your niche business, FREE domain, hosting (<a style="color: #ffd060" href="https://www.bluehost.com/track/shihabiiuc/" target="_blank">BLUEHOST</a>), content and everything included.</p>
  <div class="detail-offer text-center pt-5">
    <h2 class="mt-3">What&apos;s Included</h2>
    <p>1. A complete website design &amp; development based on your unique business niche.</p>
    <p>2. Domain (URL) registration for your business.</p>
    <p>3. Hosting</p>
    <p>4. SSL (Secured Socket Layer)</p>
    <p>5. Starter content</p>
    <p>6. Logo &amp; Favicon</p>
    <p>7. Premium images</p>
    <p>8. Sitemap &amp; Google indexing</p>
    <p>9. Elementor PRO page builder (licensed)</p>
    <p>10. Three unique pages (Home, About &amp; Contact)</p>
  </div>

</div>

<div class="payment py-5">
  <h2>Payment Security &amp; Trust</h2>
  <p>There are lots of good &amp; evil on the internet. What if I took your money and disappear? Or what if you do not like my work?</p>
  <p><strong>For your payment security</strong> you can make the purchase via a 3rd party <strong>Escrow</strong> platform called <strong>Fiverr</strong>. They will keep your fund securly and only release the fund once you are happy with my work &amp; only once you approve my work.</p>
  <p><strong>For your trust</strong> I offer you, no-questions asked <strong>Money-Back Guarantee</strong>. If you do not like my work, you will be able to cancel the order in three days after my order delivery and get full refund.</p>
</div>

<div class="process py-5">
  <h2>What is the Process of Work</h2>
  <p>Once you place the order, I will send you a basic questionnaire &amp; you have to send me back your answer. Depending on your answer my team will write content for your website. Also I will ask you about your desired domain name and I will register a domain name based on your desire &amp; it&apos;s availability. I&apos;m partnered with <a style="color: #000000" href="https://www.bluehost.com/track/shihabiiuc/" target="_blank">BLUEHOST</a> and I will host your website there.</p>
</div>

<div class="cta_section">
   <div class="cta_block">
     <div class="cta_left">
      <img src="../Shihab-with-Black-Shirt.jpg" alt="Shihab with black shirt">
     </div><!--cta_left-->
     <div class="cta_right">
      <h5>There are over <strong>one hundred</strong> of clients just like you already hired me for developing their websites. I&apos;m also highly recommended by them. You can check the <a href="https://www.fiverr.com/shihabiiuc" target="_blank">Reviews</a> on Fiverr. Check my client Recommendations on <a href="https://www.linkedin.com/in/shihabiiuc/" target="_blank">LinkedIn</a></h5>
      <a class="cta_button" href="http://www.fiverr.com/s/bw6xy2" target="_blank"> <img src="../icons/shopping-cart-white-bold.svg" alt="shopping cart icon"> Buy on Fiverr</a>
     </div><!--cta_right-->
    </div><!--cta_block-->
</div><!--cta_section-->

<div class="terms">
  <p>By clicking 'Buy on Fiverr' button, you are agree with our <a href="/terms-and-conditions" target="_blank">Terms &amp; Conditions</a></p>
  <p class="lead">Any pre-sales question please contact by Email: <samp><u>hello@shihabiiuc.com</u></samp> OR Facebook Messenger (below)</p> 
</div>

<div class="offer_faq">
  <div class="offer_faq_block">
      <h2>Frequently Asked Questions</h2>
      <div class="accordion" id="accordionExample">
  
          <div class="card">
              <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                      <button class="btn btn-link display-4 font-weight-light font-italic" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          #1. How to edit, update or change information on the website in future?
                      </button>
                  </h2>
              </div>
  
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body text-muted">
                      You have three options mentioned below:
                      <ul>
                          <li class="list-inline-item">Option-1: <strong>Contacting me again.</strong>If the changes are silly then I will do it without any extra cost, but if it is time consuming then I will charge a fair price for the extra work.</li>
  
                          <li class="list-inline-item">Option-2: You can do it <strong>yourself.</strong> If you wish to experiment with your website, I will send you documentation which might be helpful if you are already tech seavy.</li>
  
                          <li class="list-inline-item">Option-3: By hiring someone else like me.</li>
                      </ul>
                  </div>
              </div>
          </div><!--card-->

          <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link display-4 font-weight-light font-italic" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        #2. Is there any extra cost?
                    </button>
                </h2>
            </div>
        
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body text-muted">
                    No. There is no extra cost building the website. From domain registration, hosting, content writing, logo &amp; favicon design and everything in between, I will do all the heavy lifting for you.
                </div>
            </div>
        </div><!--card--> 

        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link display-4 font-weight-light font-italic" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      #3. How much time the domain &amp; hosting will be free?
                    </button>
                </h2>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body text-muted">
                    The domain &amp; hosting will be free for one year and then I will charge &dollar;45 USD from the next year. (Domain &dollar;15 &plus; Hosting &dollar;30)
                </div>
            </div>
        </div><!--card-->

        <div class="card">
          <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                  <button class="btn btn-link display-4 font-weight-light font-italic" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    #4. How to cancel or what if I don&apos;t want to proceed from the next year?
                  </button>
              </h2>
          </div>

          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body text-muted">
                  After one year building the website, I will send you THREE different friendly remainder regarding the domain &amp; hosting renewal charge of &dollar;45. If you do not want to proceed from the next year then you have to update me. If you do not reply any of my three messages then I will wait upto two weeks and assume that you are not interested to proceed. Every transaction will go through Fiverr.
              </div>
          </div>
      </div><!--card-->




      </div><!--accordionExample-->

      <div class="facebook_page py-5">
        <h2>Like My Facebook to Get Update</h2>
        <div class="fb-page" data-href="https://www.facebook.com/ibuildyourwebsite/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ibuildyourwebsite/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ibuildyourwebsite/">Shihabiiuc</a></blockquote></div>
      </div>
  </div><!--offer_faq_block-->
</div><!--offer_faq-->

<!-- Testimonial -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <h2 class="text-center text-success">Client&apos;s Feedback</h2>
    <div class="carousel-item active">
      <blockquote class="blockquote text-center">
        <p class="mb-0">Shihab Haque is an incredible web designer and proficient at "all things" web related. I highly
          recommend him. He's honest, patient and a very hard working. I've used him for all our web related work and
          will continue to hire Shihab in the future!</p>
        <footer class="blockquote-footer">
          Jillkahn, Empowerhouse Group, <cite title="Source URL"><a
              href="https://www.instagram.com/empowerhouseleadership/" target="_blank">IG Profile</a></cite>
        </footer>
      </blockquote>
    </div>
    <div class="carousel-item">
      <blockquote class="blockquote text-center">
        <p class="mb-0">I was really impressed by the efficiency, speed and technical support of Shihab. When I need it,
          I will certainly use his services because I am really satisfied with his job.</p>
        <footer class="blockquote-footer">
          Diamoro, Brioschisrl, <cite title="Client wants to be anonymous"><a class="link-disabled"
              href="https://www.brioschisrl.it/" target="_blank">Website&sol;Profile</a></cite>
        </footer>
      </blockquote>
    </div>
    <div class="carousel-item">
      <blockquote class="blockquote text-center">
        <p class="mb-0">Shihabiiuc is the absolute best! He is a great designer, wordpress guru and great to work with
          and will get take care of you. I will continue to use him for all our work.</p>
        <footer class="blockquote-footer">
          Upchurch, 33supply, <cite title="Source URL"><a href="https://www.instagram.com/33supply/" target="_blank">IG
              Profile</a></cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
<!--Testimonial ends-->




<style>
  .offer_faq_block .card-header button{text-align: left;}
  .offer_faq_block h2{
    font-size: 2rem;
    color: #FFA000;
  }
  @media (min-width: 768px) {
    .offer_faq_block h2{font-size: 4rem;}
  }
  .offer_faq_block{
    max-width: 1000px;
    display: block;
    margin: 0 auto;
  }
  .offer_faq{
    background: #182860;
    padding: 90px 10px;
  }
 
  .terms{
    background: #F8F9FA;
    padding: 50px 10px;
  }
  .terms p{
    text-align: center;
    font-size: 14px;
  }
  a.cta_button img{
    max-width: 20px;
  }
  @media (min-width: 768px) {
    a.cta_button img{
      max-width: 40px;
    }
  }
  a.cta_button{
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    background-image: -webkit-linear-gradient( -15deg, rgb(246,32,66) 0%, rgb(251,65,71) 47%, rgb(255,97,76) 100%);
    box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.14);
    color: #fff !important;
    padding: 2.2% 0;
    display: table;
    margin: auto;
    width: 92%;
    font-size: 24px;
    text-align: center;
    transition: all 4s ease-in;
  }
  a.cta_button:hover{
    text-decoration: none;
    box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.24);
    background-image: -webkit-linear-gradient( -15deg, rgb(187, 7, 37) 0%, rgb(251, 8, 16) 47%, rgb(255, 37, 8) 100%);
  }
  @media (min-width: 768px) {
    a.cta_button{
      font-size: 40px;
    }
  }
  .cta_right{
    max-width: 100%;
    padding-bottom: 30px;
  }
  @media (min-width: 768px){
    .cta_right{
    max-width: 70%;
    float: right;
  }
  } 
  .cta_right a{
    color: #FFA000; font-weight: bold;
  }
  .cta_right h5{
    font-size: 24px;
    line-height: 1.5;
    padding: 30px 30px 10px 30px;
  }
  @media (min-width: 768px) {
    .cta_right h5{font-size: 30px;}
  }
  .cta_left{
    max-width: 100%; height: auto;  
  }
  @media (min-width: 768px){
    .cta_left{
    max-width: 30%; height: auto;
    float: left;    
  }
  }
  .cta_left img{
    padding: 10px; border: 1px solid #FFA000; border-radius: 5px;
  }
  .cta_block{
    max-width: 1000px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: .25rem!important;
    background-color: #fff!important;
  }
  .cta_section{
    font-family: 'Lato', sans-serif;
    background: #F8F9FA; 
    padding: 90px 30px;
  }
  .cta_section::after{
    content: "";
    clear: both;
    display: table;
  }

  .process h2{
    font-size: 2rem;
    text-align: center;
  }
  @media (min-width: 768px) {
    .process h2{
      font-size: 4rem;
    }
  }
  .process p{
    font-size: 24px;
    max-width: 900px;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .payment{
    background: #F4F3F9;
  }
  .payment h2{
    font-size: 2rem;
    text-align: center;
  }
  @media (min-width: 768px) {
    .payment h2{
      font-size: 4rem;
    }
  }
  .payment p{
    font-size: 24px;
    max-width: 900px;
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  .intro{
    padding: 90px 20px;
    background: url(../icons/offer-background-shape.svg) no-repeat center center;
    background-size: cover;
    background-color: #160e30;
  }
  h3.offer-pill{
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    background-image: -webkit-linear-gradient( 0deg, rgb(246,32,66) 0%, rgb(246,64,71) 55%, rgb(245,95,75) 100%);
    color: #fff !important;
    padding: .8% 2.5% .8% 2.5%;
    max-width: 280px;
    display: block; 
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
  }
  .offer-heading{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
    padding-top: 30px;
  }
  @media(min-width: 768px){
    .offer-heading{
      font-size: 4rem;
    }
  }
  .offer-short-commitment{
    font-family: 'Lato', sans-serif;
    color: #ffd060;
    text-align: center;
    font-size: 24px;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    padding: 25px 15px 10px;
    border-bottom: 1px solid rgba(0,0,0,.3);
  }
  .detail-offer{
    font-family: 'Lato', sans-serif;
    color: #FF7F21;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    padding: 8px 15px 0;
    border-top: 1px solid hsla(0,0%,100%,.05);
  }
  .detail-offer h2{color: #ffffff;}
  .detail-offer p{
    font-size: 24px;
    line-height: 24px;
  }
</style>

<%- include('includes/footer') %>