<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Website Design &amp; Development Portfolio</h1>
        <span class="lead">Some of my past work with live URL. Get your project done with the <span
                class="font-weight-bold">best</span> web design <span class="font-weight-bold">practices</span> &amp;
            using <span class="font-weight-bold"> latest technologies.</span></p>
            <hr>
            <a class="btn btn-success btn-lg" href="/pricing" role="button">Get Started</a>
    </div>
</div>

<div class="container portfolio mb-5">
    <div class="row">
        <div class="col-md">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="../doublecheckhealthcare-min.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Double Check Healthcare</h5>
                    <p class="card-text">Medical tourism &amp; healthcare cousultant.</p>
                    <a href="https://www.doublecheckhealthcare.com/" target="_blank"
                        class="btn btn-outline-success btn-sm btn-block">Live URL</a>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="../meritbronz-min.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Merit Bronz</h5>
                    <p class="card-text">Digital marketing agency in social media niche.</p>
                    <a href="https://meritbronz.com/" target="_blank"
                        class="btn btn-outline-success btn-sm btn-block">Live URL</a>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="../ajrichtherapy-min.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">AJ Rich Therapy</h5>
                    <p class="card-text">Individual, couples & family therapy in LA.</p>
                    <a href="https://ajrichtherapy.com/" target="_blank"
                        class="btn btn-outline-success btn-sm btn-block">Live URL</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container py-md-5 container--narrow text-center mb-5">
    <a href="https://www.bluehost.com/track/shihabiiuc/portfolio" target="_blank"> <img border="0"
            src="https://bluehost-cdn.com/media/partner/images/shihabiiuc/620x203/620x203BW.png"> </a>
</div>

<div class="bg-light">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md">
                <ul>
                    <p class="small font-weight-bold text-muted">Portfolio items continued.. .</p>
                </ul>
            </div>
        </div>
        <!-- 
    <li class="list-group-item"><a href="#" target="_blank" class="card-link">#</a></li>
 -->
        <div class="row">
            <div class="col-md">
                <ul>
                    <li class="list-group-item active">Health, Medical &amp; Therapy
                    </li>
                    <li class="list-group-item"><a href="https://www.doublecheckhealthcare.com/" target="_blank"
                            class="card-link">Double Check Healthcare</a></li>
                    <li class="list-group-item"><a href="https://www.londonmassagepractice.com/" target="_blank"
                            class="card-link">London Massage Practice</a></li>
                    <li class="list-group-item"><a href="https://talkwithchristinewong.com/" target="_blank"
                            class="card-link">Talk with Christine Wong</a></li>
                    <li class="list-group-item"><a href="https://empowerhousegroup.com" target="_blank"
                            class="card-link">Empowerhouse Group</a></li>



                </ul>
            </div>
            <div class="col-md">
                <ul>
                    <li class="list-group-item active">Business &amp; Digital Marketing
                    </li>
                    <li class="list-group-item"><a href="https://goldenmedianmarketing.com/" target="_blank"
                            class="card-link">Golden Median Marketing</a></li>
                    <li class="list-group-item"><a href="https://meritbronz.com/" target="_blank"
                            class="card-link">meritBronz</a></li>
                    <li class="list-group-item"><a href="https://leadsvalidation.io/" target="_blank"
                            class="card-link">Leads Validation</a></li>
                    <li class="list-group-item"><a href="https://clearviewcyber.com.au/" target="_blank"
                            class="card-link">ClearView Cyber</a></li>
                    <li class="list-group-item"><a href="https://straightupconsultants.com.au/" target="_blank"
                            class="card-link">StraightUp Consultants</a></li>
                    <li class="list-group-item"><a href="https://sierraleonevettedconsultants.com" target="_blank"
                            class="card-link">SL Vetted Consultants</a></li>
                    <li class="list-group-item"><a href="https://www.slecad.biz/" target="_blank"
                            class="card-link">SLeCAD</a></li>
                    <li class="list-group-item"><a href="https://arkroadhouse.com/" target="_blank"
                            class="card-link">Ark Road House</a></li>
                    <li class="list-group-item"><a href="http://kesseler.egents.be" target="_blank"
                            class="card-link">Kesseler</a></li>
                    <li class="list-group-item"><a href="http://consulpackinc.com" target="_blank"
                            class="card-link">Consul Pack inc.</a></li>
                    <li class="list-group-item"><a href="https://royalviphoney.com" target="_blank"
                            class="card-link">Royal VIP Honey</a></li>
                </ul>
            </div>
            <div class="col-md">
                <ul>
                    <li class="list-group-item active">Miscellaneous</li>

                    <li class="list-group-item"><a href="https://www.fenam.online/" target="_blank"
                            class="card-link">Fenam</a></li>

                    <li class="list-group-item"><a href="http://elizabethsabby.com/" target="_blank"
                            class="card-link">Elizabeth Sabby</a></li>

                    <li class="list-group-item">And much more.. .</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<%- include('includes/footer') %>