<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Portfolio</h1>
        <span class="lead">Some of my past work with live URL. Get your project done with the <span class="font-weight-bold">best</span> web design <span class="font-weight-bold">practices</span> &amp; using <span class="font-weight-bold"> latest technologies.</span></p>
        <hr>
        <a class="btn btn-success btn-lg" href="/services" role="button">Get Started</a>
    </div>
</div>

<div class="container portfolio mb-5">
    <div class="row">
        <div class="col-md">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="../meritbronz-min.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Merit Bronz</h5>
                    <p class="card-text">Top-notch social media service provider.</p>
                    <a href="https://meritbronz.com/" target="_blank" class="btn btn-outline-success btn-sm btn-block">Live URL</a>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="../elwoodbathers-min.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Elwood Bathers</h5>
                    <p class="card-text">Australian restaurant &amp; events panner.</p>
                    <a href="https://elwoodbathers.com/" target="_blank" class="btn btn-outline-success btn-sm btn-block">Live URL</a>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="../33supply-min.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">33 Supply</h5>
                    <p class="card-text">Ecommerce website for CBD products.</p>
                    <a href="https://www.33supply.net/" target="_blank" class="btn btn-outline-success btn-sm btn-block">Live URL</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container py-md-5 container--narrow text-center mb-5">
    <a href="https://www.bluehost.com/track/shihabiiuc/portfolio" target="_blank"> <img border="0" src="https://bluehost-cdn.com/media/partner/images/shihabiiuc/620x203/620x203BW.png"> </a>
</div>


<%- include('includes/footer') %>