<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Portfolio</h1>
        <span class="lead">Some of my past work with live URL. Get your project done with the <span class="font-weight-bold">best</span> web design <span class="font-weight-bold">practices</span> &amp; using <span class="font-weight-bold"> latest technologies.</span></p>
        <hr>
        <a class="btn btn-dark btn-lg" href="#" role="button">Contact Me</a>
    </div>
</div>

<div class="container portfolio">
    <div class="row">
        <div class="col-md">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="../meritbronz-min.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Merit Bronz</h5>
                    <p class="card-text">Top-notch social media service provider.</p>
                    <a href="https://meritbronz.com/" target="_blank" class="btn btn-outline-success btn-sm btn-block">Live URL</a>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="../elwoodbathers-min.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Elwood Bathers</h5>
                    <p class="card-text">Australian restaurant &amp; events panner.</p>
                    <a href="https://elwoodbathers.com/" target="_blank" class="btn btn-outline-success btn-sm btn-block">Live URL</a>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="../33supply-min.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">33 Supply</h5>
                    <p class="card-text">Ecommerce website for CBD products.</p>
                    <a href="https://www.33supply.net/" target="_blank" class="btn btn-outline-success btn-sm btn-block">Live URL</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row mb-5">
        <div class="col-md-5 mx-auto">
            <h3 class="text-center mt-5">Social Media Profile</h3>
            <div class="list-group">
                <a href="https://www.linkedin.com/in/shihabiiuc/" target="_blank" class="list-group-item list-group-item-action list-group-item-primary">Linkedin</a>
                <a href="https://twitter.com/shihabiiuc" target="_blank" class="list-group-item list-group-item-action list-group-item-secondary">Twitter</a>
                <a href="https://www.instagram.com/shihabiiuc/" target="_blank" class="list-group-item list-group-item-action list-group-item-success">instagram</a>
                <a href="https://web.facebook.com/iamontheway" target="_blank" class="list-group-item list-group-item-action list-group-item-danger">Facebook</a>

            </div>
        </div>
    </div>
</div>



<%- include('includes/footer') %>