<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Privacy Policy</h1>
        <p class="small">April 21, 2020</p>
        <p class="lead">We&apos;re committed to protect your privacy &amp; security. We do not collect your personal-sensitive data except your email. This email is only used to communicating with you. Bellow we described how &amp; why we collect your data.</p>
    </div>
</div>

<div class="container py-md-5 container--narrow privacy-policy">
    <p class="lead">We only store your email address while you register on our website at Shihabiiuc.Com. And also while you purchase any of our web design &amp; development services. This email is only used to contacting&sol;communicating with you and to provide you better service.</p>

    <p class="lead">
        Your password is hashed before storing on our database using <a href="https://www.npmjs.com/package/bcryptjs" target="_blank">bcryptjs</a>. So there is no future vulnerabilities with your account. Also we developed our website Shihabiiuc.Com maintaining best practices, using latest &amp; cutting edge technologies. So your account is 100% secured on our website&sol;database.
    </p>

    <p class="lead">
        We&apos;ll not share your personal information to anyone else which has been gathered during the development process and while communicating with you. Only client&apos;s feedback&sol;review isn&apos;t included in this specific statement.
    </p>

    <p class="lead">
        We collect general visitors IP address, location and other technical information such as which type of browser, operating system they used while visiting our website Shihabiiuc.Com.
    </p>

    <p class="lead">
        We use cookies on our website Shihabiiuc.Com and these cookies are stored temporarily &amp; it expires after 24 hours. This is a simple session data which help us&sol;our-website to recognizing you&sol;your-browser for your next visit.
    </p>

</div>


<%- include('includes/footer') %>