<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Refund Policy</h1>
        <p class="small">April 22, 2020</p>
        <p class="lead">We don&apos;t want our clients to end up with unhappiness. Also we&apos;ll prevent any fraudulent attempts to protect me &amp; my team. Bellow we described our refund policy.</p>
    </div>
</div>

<div class="container py-md-5 container--narrow privacy-policy">
    <h4 class="display-4">
        Refund is applicable only for bellow scenarios:
    </h4>
    <p class="lead">If any client ordered by mistake.</p>
    <p class="lead">If I or my team failed to deliver project.</p>
    <p class="lead">If I or my team failed to meet project deadline.</p>
    <p class="lead">If we&apos;re not able to meet project scope mentioned in offer letter.</p>
    <p class="lead">If client is not happy with our work. Since we offer "Money Back Guarantee with No Questions Asked", so definitely we will refund if any client can say that they are unhappy with our work. And even we will not ask a single question before the refunding. But&sol;of course we will take measurement and prevent any fraudulent activity.</p>
</div>


<%- include('includes/footer') %>