<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Web Development Resource, Questionnaire, Forms, FAQ</h1>
    <p class="lead">
      Your upcoming website will be solution to a problem. In order to design & develop a successful website, I really
      need to know the answer of few questions. It&apos;s a necessary evil but it&apos;ll help me to ensure your return
      of investment in the web development project.
    </p>
    <small class="text-success font-weight-bold">Every question is only related to your upcoming website and not related
      to other business/websites you may have.</small>
    <hr>
  </div>
</div>

<div class="container">
  <div class="row my-5">
    <div class="col-md">
      <div class="alert alert-success shadow-lg py-4" role="alert">
        <h4 class="alert-heading">File #01</h4>
        <h4 class="alert-heading">Download WordPress Website Development Questionnaire</h4>
        <p>I&apos;ve few questions for you and I need answer of those questions before we start building the website.
        </p>
        <hr>
        <p class="mb-0">I&apos;m trying to ahieve your goal, not mine. So please expend few times on answering those
          questions.</p>
        <hr>
        <a download href="/questionnaire.pdf" class="btn btn-outline-primary">Download Now <img
            src="/icon_file_download.svg" style="max-width: 20px;" alt="svg download icon"></a>
      </div>
    </div>
    <div class="col-md">
      <div class="alert alert-warning alert-dismissible fade show shadow-sm" role="alert">
        <strong>Instruction for your perusal:</strong><br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">1. Please create a WORD document on your desktop and Name it exactly
            "answer_to_questions".</li>
          <li class="list-group-item">2. Read each question &amp; please write your answer accordingly.</li>
          <li class="list-group-item">3. Once you&apos;re done, please save your word doc file &amp; send me back your answer.</li>
        </ul>
        <p class="pt-1">Not that hard actually it seems. Anyways, these insturction can be found in your downloaded
          file as
          well.</p>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<section class="customer_files">
  <div class="container">
    <div class="card-deck">

    <div class="card" style="width: 18rem;">
      <img src="../icons/word.svg" class="card-img-top" alt="icon, word file">
      <div class="card-body">
        <h4 class="text-gradient">File #02</h4>
        <hr class="line_gradient_full_width">
        <h3 class="card-title">Fillable answer sheet</h3>
        <p class="card-text">For existing client.</p>
        <input class="form-control" type="button" value="Download File" onClick="passwd()"/>
      </div>
    </div>

    <div class="card" style="width: 18rem;"> <!--ecommerce-->
      <img src="../icons/online-shopping.svg" class="card-img-top" alt="icon, word file">
      <div class="card-body">
        <h4 class="text-gradient">File #03</h4>
        <hr class="line_gradient_full_width">
        <h3 class="card-title">Ecommerce Development</h3>
        <p class="card-text">After conversation.</p>
        <input class="form-control" type="button" value="Download File" onClick="passwd()" disabled/>
      </div>
    </div> <!--ecommerce-->

    <div class="card" style="width: 18rem;"> <!--Node JS Application-->
      <img src="../icons/nodejs.svg" class="card-img-top" alt="icon, word file">
      <div class="card-body">
        <h4 class="text-gradient">File #04</h4>
        <hr class="line_gradient_full_width">
        <h3 class="card-title">Node JS Application</h3>
        <p class="card-text">After conversation.</p>
        <input class="form-control" type="button" value="Download File" onClick="passwd()" disabled/>
      </div>
    </div> <!--Node JS Application-->







    </div>
  </div>
</section>


<%- include('includes/footer') %>