<%- include('includes/header') %>

<div class="subscription_page">
    <div class="container py-md-5 container--narrow">
        <div id="mc_embed_signup">
            <form action="https://wppanic.us14.list-manage.com/subscribe/post?u=79bca784b829cc2cbfa76dbd2&amp;id=6a5ff315f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <div class="form-group mt-5">
                        <label for="exampleInputEmail1">Email Address</label>
                        <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="john_doe@yahoo.com" required>
                        <small id="emailHelp" class="form-text">We'll never share your email with anyone else. We hate spam!</small>
                    </div>

                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_79bca784b829cc2cbfa76dbd2_6a5ff315f3" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg mt-4 mb-5"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('includes/footer') %>