<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Thank You for Subscribing!</h1>
        <p class="lead">Occasionally we&apos;ll send you newsletters regarding our new feature, service, coupon &amp; discount code, articles, etc.</p>
    </div>
</div>

<div class="container mb-5">
    <div class="card mx-auto" style="width: 18rem;">
        <img src="../shihab.jpg" class="card-img-top" alt="Shihab, Web developer">
        <div class="card-body">
            <h5 class="card-title">Shihab</h5>
            <p class="card-text text-muted">Start your web design &amp; development project with me &amp; my team. Contact me if you have any question, I&apos;ll be more than happy to help.</p>
            <button id="contactShihab" class="btn btn-danger btn-block">Contact Me</button>
        </div>
    </div>
</div>

<div id="popup-contact-shihab" class="js-initial-position">
    <img id="icon-close" src="../times-solid.svg" alt="close icon" class="close-icon mx-auto d-block shadow p-3 mb-5 bg-white rounded mt-5">
    <div class="container">

        <div class="popup-contact-shihab--method mx-auto rounded shadow-lg">
            <h3><small class="text-muted">Use any one of the following contact method you&apos;re comfortable with.</small></h3>
            <h6 class="display-4">Email: shihabdinajpur&commat;gmail.com</h6>
            <h6 class="display-4">Skype: shihabdinajpur</h6>
            <h6 class="display-4">Phone: +8801947888197</h6>
        </div>

    </div> <!-- .container -->
</div><!-- #popup-contact-shihab -->


<%- include('includes/footer') %>