<%- include('includes/header') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Terms &amp; Conditions</h1>
    <p class="small">May 31, 2020</p>
    <p class="lead">A smooth &amp; friendly relationship between client &amp; us is our top priority. So we want you to
      know everything about us before purchasing anything on our site. There is nothing crazy going here but these are
      somthing good to know.</p>
  </div>
</div>

<div class="container py-md-5 container--narrow privacy-policy">
  <p class="lead"><span class="h4">FREE Domain:</span> If you got any free domain through our campaign or within any web
    design &amp; development package, it&apos;s FREE for 1 YEAR and then &dollar;15 from the NEXT YEAR. If you
    don&apos;t
    want to proceed with the website, you&apos;ve to do nothing, your domain will be automatically cancelled after one
    year if you don&apos;t want to proceed with the website.</p>
  <hr>
  <p class="lead"><span class="h4">FREE Hosting:</span> Also your FREE Hosting is FREE for 1 YEAR. And then &dollar;36
    from next year, that means &dollar;3 per months but billed annually. If you don&apos;t want to proceed with the
    website, you don&apos;t have to take any action for it.</p>
  <hr>
  <p class="lead"><span class="h4">Website Login Access:</span> Once you purchased any of our web design &amp;
    development services, the whole website is totally yours. You deserve your website login access, you can
    create/read/update/delete anything on your website on your own.</p>
  <hr>
  <p class="lead"><span class="h4">cPanel Access:</span> Since we host many other clients&apos; website on our
    server, so we have to count security measures. And for the security reason, we&apos;ll not give you access to
    cPanel and eventually you do not need this cPanel access because we will do the website setup and create a
    dashboard for you. But you will get full access to your own website dashboard. You can maintain your whole website
    from your website dashboard very easily.</p>
  <hr>
  <p class="lead"><span class="h4">Assets &amp; Contents:</span> We will give you Logo, icons, photos &amp; other
    graphics but you have to give us the text contents for your website. The text contents includes your address, phone
    number, email, your biography, about your business, etc.</p>

</div>


<%- include('includes/footer') %>