body,
.tooltip {
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Volkhov', serif;
}
h2{
  font-size: 1.5rem;
  padding-right: 15px;
  padding-left: 15px;
  text-transform: capitalize;
}
@media (min-width: 768px) { h2{font-size: 2.5rem;} }

h3{
  font-size: 1.5rem;
  text-transform: capitalize;
}
@media (min-width: 768px) { h3{font-size: 2rem;} }

p{font-size: 1.2rem;}

.text-highlight{color: #ff711a;}
.text-gradient{
  background: -webkit-linear-gradient(#FF2252, #FFA000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-alt{
  background: -webkit-linear-gradient(#FFA000, #FF2252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  max-width: 100%;
}
.link-disabled {
  pointer-events: none;
}
.pointer {
  cursor: pointer;
}
.jumbotron h1,
.jumbotron p,
.jumbotron span {
  max-width: 1000px;
}
.text-800{
  max-width: 800px; display: block;
}
.bg-light-shape{
  background-color: #dedede;
  background-image: url(icons/check.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block; overflow: hidden;
}
.bg-offer {
  background-color: #c4251e;
  background-image: url(labour-day-min.png);
  background-position: right;
  background-repeat: no-repeat;
}
.bg-deep {
  background-color: #001524;
}
.bg-deeper {
  background-color: #c4251e;
  color: #fff;
  text-shadow: 2px 1px #000;
  box-shadow: 0 1rem 3rem rgba(0, 66, 254, 0.44);
  transition: all 0.8s ease-out;
  font-size: 15px;
}
@media (min-width: 768px) {
  .bg-deeper {
    font-size: 20px;
  }
}
.bg-deeper:hover {
  background-color: #6f0904;
  color: #fff;
  text-shadow: 3px 2px #000;
}

.header-bar {
  background-color: #292929;
}

.container--narrow {
  max-width: 732px;
}

.header-search-icon {
  position: relative;
  top: 3px;
}

.header-chat-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
}

.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.avatar-tiny {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.form-control-title {
  font-size: 2rem;
  font-weight: 500;
}

.body-content {
  font-size: 1.2rem;
  line-height: 1.75;
  color: #292929;
}

.body-content p,
.body-content ul,
.body-content ol {
  margin-bottom: 1.75rem;
}

.input-dark {
  background-color: #444;
  border-color: transparent;
  color: #ffffff;
}

.input-dark:focus {
  color: #ffffff;
  background-color: #555;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-dark::-webkit-input-placeholder {
  color: #888;
}
.input-dark::-moz-placeholder {
  color: #888;
}
.input-dark:-ms-input-placeholder {
  color: #888;
}
.input-dark:-moz-placeholder {
  color: #888;
}

@media (min-width: 768px) {
  .input-dark {
    width: auto;
  }
}

.display-3 {
  font-size: 4.35rem;
}

@media (max-width: 768px) {
  .display-3 {
    font-size: 2.5rem;
  }
}
.display-4 {
  font-size: 2.35rem;
}
@media (max-width: 768px) {
  .display-4 {
    font-size: 1.5rem;
  }
}

.form-group {
  position: relative;
}

.liveValidateMessage {
  transition: all 0.5s ease-out;
  top: -6px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 16px;
  opacity: 0;
  transform: translateY(100%);
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0);
}

.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}

textarea.tall-textarea {
  height: 160px;
}

@media (min-width: 768px) {
  textarea.tall-textarea {
    height: 320px;
  }
}

.delete-post-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

/* Search Overaly */
.search-overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(215, 215, 215, 0.911);
  visibility: hidden;
  opacity: 0;
  transform: scale(1.3);
  transition: 0.33s visibility ease-in-out, 0.33s opacity ease-in-out, 0.33s transform ease-in-out;
  will-change: visibility, transform, opacity;
}

.search-overlay--visible {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.search-overlay-icon {
  color: #007bff;
  font-size: 1.4rem;
  margin: 0;
  margin-right: 10px;
}

.live-search-field {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  outline: none;
  flex: 1;
  color: #007bff;
}

.live-search-results {
  opacity: 0;
  transition: all 0.3s ease-out;
  transform: scale(1.07);
}

.live-search-results--visible {
  opacity: 1;
  transform: scale(1);
}

.search-overlay-top {
  background-color: #fff;
  /* background-color: rgba(0, 0, 0, .79); */
}

.search-overlay-top .container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.search-overlay-bottom {
  overflow: auto;
}

.close-live-search {
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 0.75;
  line-height: 1;
  color: #292929;
}

@media (min-width: 700px) {
  .live-search-field {
    font-size: 2.5rem;
  }

  .close-live-search {
    font-size: 3rem;
  }

  .search-overlay-icon {
    font-size: 3rem;
  }
}

.close-live-search:hover {
  opacity: 1;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.circle-loader {
  opacity: 0;
  transition: opacity 0.45s ease-out, visibility 0.45s ease-out;
  visibility: hidden;
  position: absolute;
  left: 50%;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 10px solid rgba(73, 80, 87, 0.2);
  border-top-color: #495057;
  will-change: -webkit-transform, transform;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

.circle-loader--visible {
  visibility: visible;
  opacity: 1;
}

/* End Search Overlay */

/* Chat */
.chat-wrapper {
  position: fixed;
  z-index: 5;
  bottom: 0;
  right: 20px;
  width: 290px;
  height: 350px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  transform: translateY(100%);
}

.chat--visible {
  opacity: 1;
  transform: translateY(0);
}

.chat-title-bar {
  background-color: #292929;
  color: #fff;
  padding: 4px 7px;
  display: flex;
  justify-content: space-between;
}

.chat-title-bar-close {
  opacity: 0.7;
  cursor: pointer;
}

.chat-title-bar-close:hover {
  opacity: 1;
}

.chat-log {
  padding: 8px;
  flex: 1;
  overflow: auto;
}

.chat-self,
.chat-other {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.chat-self {
  padding-left: 25%;
}

.chat-self .chat-avatar {
  margin-left: 6px;
}

.chat-self .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.chat-self .chat-message-inner {
  text-align: right;
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #007bff;
  color: #fff;
}

.chat-other {
  padding-right: 25%;
}

.chat-other .chat-avatar {
  margin-right: 6px;
}

.chat-other .chat-message {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.chat-other .chat-message-inner {
  padding: 4px 7px;
  border-radius: 12px;
  background-color: #f1f0f0;
}

.chat-message a {
  color: #212529;
}

.chat-field {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 7px;
  border: none;
  outline: none;
  font-size: 0.75rem;
}

/* About */
.close-icon {
  max-width: 50px;
  cursor: pointer;
}
.js-initial-position {
  visibility: hidden;
  opacity: 0;
}
.js-visible {
  visibility: visible;
  display: block;
}
.js-overflow-y-0 {
  overflow-y: hidden;
}
#popup-contact-shihab {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  /*display: block;*/
  /*overflow: hidden;*/
  background-color: #cce5ff;
  transition: visibility 0s, opacity 0.5s linear;
}

.popup-contact-shihab--method {
  background-color: #fff;
  padding: 2rem;
  text-align: center;
  max-width: 700px;
  height: auto;
}

/*Portfolio*/
.portfolio .card {
  margin-bottom: 1.5rem;
}

/* Header/menu/navigation/pages-link */
#content{
  content: ""; display: block; overflow: hidden;
}

.shihabiiuc-logo img{
  max-width: 190px; height: auto;
}
.general-pages li a {
  font-size: 12px;
}
@media (min-width: 1200px) {
  .general-pages li a {
    font-size: 22px;
  }
}

/* TOP MENU */

.navbar {
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  font-size: 12.5px;
  letter-spacing: 1.5px;
  
  padding:25px 0;
    -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  -ms-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}
.navbar-expand-lg .navbar-nav .nav-link {
padding-right: 1.1em;
padding-left: 1.1em;
}
.navbar-brand {
margin-right: 3em;
padding-top: 0px;
}
.bg-light {
background-color: rgba(255, 255, 255, 0.7)!important;
}
.navbar-light .navbar-nav .nav-link {
color: rgba(0, 0, 0, 0.8);
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
color:#e0413d
}

.shrink.navbar {
padding:13px 0;
background-color: rgba(255, 255, 255, 0.9)!important;
/*-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
-ms-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
-o-box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
box-shadow: 0px 0px 15px rgba(0,0,0,0.1);*/
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.dropdown-menu.fade {
display: block;
opacity: 0;
pointer-events: none;
}

.show > .dropdown-menu.fade {
pointer-events: auto;
opacity: 1;
}
@media (min-width: 991px) {
.shrink.navbar::after {
  border-radius: 50%;
  bottom: 1%;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  content: '';
  height: 10%;
  left: 2%;
  position: absolute;
  width: 96%;
  z-index: 1;
  bottom: -1px;
  
}

.dropdown-menu {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
border:1px solid #eeeeee;
border-top: 2px solid #eb672e;
max-height: 0;
display: block;
opacity: 0;
  -webkit-box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
  -ms-box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
  -o-box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
  border-radius: 0 0 .25rem .25rem;
  position: relative;
}

.dropdown:hover>.dropdown-menu {
  max-height: 500px;
    opacity: 1;
}
.dropdown-menu::before {
    content: "";
    position: absolute;
    top:-6px;
    left:10%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #eb672e;
    z-index: 100;
}
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
z-index:9999;
left:20px;
top:45px;
font-size: 14px;
}
.dropdown-item {
padding: .5rem 1rem;
border-bottom: 1px solid #eeeeee
}
.dropdown-item:last-of-type {
border-bottom: none;
border-radius: 0 0 .25rem .25rem
}

.dropdown-item:focus, .dropdown-item:hover {
background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(hsl(23, 100%, 55%)),
    to(hsl(1, 72%, 56%))
  );
background-image: -webkit-linear-gradient(
    left,
    hsl(23, 100%, 55%),
    hsl(1, 72%, 56%)
  );
background-image: -o-linear-gradient(
    left,
    hsl(23, 100%, 55%),
    hsl(1, 72%, 56%)
  );
background-image: linear-gradient(
    to right,
    hsl(23, 100%, 55%),
    hsl(1, 72%, 56%)
  );
  color:#fff;
}
.dropdown-menu {
padding:0px
}

/*
 * Contact page
 */
.contact_page {
  background-color: #2f464c;
}
.contact_page h1 {
  color: #fff;
}
.contact_page .lead {
  color: #c0d322;
}
.contact_page .display-4 {
  color: #fff;
}

/*
 * Subscription Page
 */
.subscription_page {
  background-color: #2f464c;
}
.subscription_page #emailHelp {
  color: #c0d322;
}
.subscription_page label {
  color: #fff;
}
.subscription_page #mc-embedded-subscribe {
  background-color: #cc2921;
  color: #fff;
}

/*
 * Footer
 */
footer {
  background-color: #100E17;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
}
hr.boder_top_gradient {
  border: 0;
  height: 5px;
  margin: 2rem 1rem;
  background-image: linear-gradient(90deg,#ff8a00,#e52e71);
  border-radius: 5px;
}
@media (min-width: 768px) {
  hr.boder_top_gradient{
    margin: 4rem 5rem;
  }
}
footer .subscription_block{
  max-width: 650px;
  display: block; margin: auto;
  padding-bottom: 3rem;
}
footer .subscription_block h2{color: #FFF;}
footer #mc_embed_signup{
  background: transparent; clear:left;
}
footer #mc_embed_signup .button{
  line-height: 0;
  background-color: transparent;
}
footer #mc_embed_signup .button:hover{
  background-color: transparent;
}
footer #mc-embedded-subscribe-form input[type=email] {
  background-color: #FFFFFF;
  padding: 2rem .5rem;
  font-family: Operator Mono A,Operator Mono B,Source Code Pro,Menlo,Consolas,Monaco,monospace;
    outline: 0;
  font-size: 1.5rem; 
}
footer #mc-embedded-subscribe-form input[type=submit] {
  font-family: 'Tajawal', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 2rem 1rem;
  background: #e0413d; /* Old browsers */ /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e0413d 0%,#ff711a 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#e0413d),to(#ff711a));
  background: -o-linear-gradient(left, #e0413d 0%,#ff711a 100%);
  background: linear-gradient(to right, #e0413d 0%,#ff711a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0413d', endColorstr='#ff711a',GradientType=1 ); /* IE6-9 */
}

footer .social_block{
  max-width: 900px;
  display: block;
  margin: auto;
  padding-bottom: 3rem;
}

footer .social_block ul.list-inline{
  display: block;
  align-items: stretch; /* Default */
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  footer .social_block ul.list-inline{
    display: flex;
  }
}
footer .social_block li.list-inline-item{
  
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}
@media (min-width: 768px) {
  footer .social_block li.list-inline-item{
    display: block;
  }
}

footer .social_block ul li a{
  font-family: 'Volkhov', serif;
  background: linear-gradient(90deg,#ff8a00,#e52e71);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: block;
    font-size: 1.2rem;
    transition: all .8s ease-out;
}
footer .social_block ul li a:hover{
  background: linear-gradient(90deg,#FFF,#FFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

footer .resource-block {
  display: block;
  align-items: stretch; /* Default */
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,.3);
}
@media (min-width: 768px) {
  footer .resource-block {
    display: flex;
  }
}
footer .resource-block .resource-widget{
  flex: 1;
  margin-bottom: 2rem;
}
footer .resource-block .resource-widget h3{
  color: #FFF; text-align: left;
}
footer .resource-block .resource-widget ul{
  padding: 0;
}
footer .resource-block .resource-widget ul li{
  list-style-type: none;
  text-align: left;
  font-size: 1.5rem;
  color: #b1b1b1;
}
footer .resource-block .resource-widget ul li a{
  font-size: 1.5rem;
  color: #b1b1b1;
  transition: color 0.8s ease-out;
  line-height: 1.8;
}
footer .resource-block .resource-widget ul li a:hover{
  color: #FFF;
  text-decoration: none;
}

footer .copyright{
  padding: 8px 15px 30px;
  border-top: 1px solid hsla(0,0%,100%,.05);
}
footer .copyright .copyright_text{
  font-size: .8rem; letter-spacing: 1.2px;
}
footer .copyright .copyright_text a{
  transition: color 1.5s ease-out;
}
footer .copyright .copyright_text a:hover{
  color: #FFF;
}


footer .list-group .list-group-item {
  border: none;
}
footer .payment-info img {
  width: 100px;
  height: auto;
}
.payment_option .payment_option_text{
  font-size: .8rem; letter-spacing: 1.2px;
}
.border-bottom-gradient {
  font-weight: 700;
  border-width: 0 0 2px 0;
  border-image: linear-gradient(45deg, rgb(255, 0, 0) 0%, rgb(255, 165, 0) 100%);
  border-image-slice: 9;
  border-style: solid;

    
}

/*
 * FAQ
 */
.accordion .card-body {
  line-height: 1.7;
  font-size: 1.3rem;
}
/*
* PRICING
*/
.package p.card-text{
  min-height: 50px;
}
@media (min-width: 767px) {
  .package p.card-text{
    min-height: 100px;
  }
}

#carouselExampleIndicators {
  padding: 2rem 1rem;

  background-color: #e9ecef;
  border-radius: 0.3rem;
}
#carouselExampleIndicators p {
  max-width: 750px;
  margin: 0 auto;
  min-height: 120px;
}
/* SALON */
#salon {
  background:linear-gradient(0deg, rgba(9,14,35,0.91), rgba(211, 44, 21, .91)), url('/hair-salon-website-design-banner--mobile-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media(min-width: 768px) {
  #salon {
    background:linear-gradient(0deg, rgba(9,14,35,0.91), rgba(211, 44, 21, .91)), url('/hair-salon-website-design-banner--desktop-min.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
#salon .display-4{
  color: #E0E0E0;
  text-decoration: underline;
}
#salon .lead{
  color: #FFFFFF;
}
/**
* Home page
*/
#shihabiiuc_homebanner.jumbotron{
  background-image: url(../background-shape.jpg);
  background-color: #182860;
  text-align: center;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 40px 40px;
}
@media (min-width: 768px) {
  #shihabiiuc_homebanner.jumbotron{background-size: 100px 100px;}
}
#shihabiiuc_homebanner h1{
  color: #FFFFFF;
  font-family: 'Tajawal', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  #shihabiiuc_homebanner h1 {font-size: 5rem;}
}

#shihabiiuc_homebanner .fa-star {
  color: #ff711a;
}
#shihabiiuc_homebanner p .completed_order_summery{
  color: #FFFFFF; 
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.service_section_homepage{
  padding: 30px 15px;
}

.service_section_homepage .card-header{
  font-family: 'Volkhov', serif;
  display: inline; text-align: center;
}
.service_section_homepage .card-header img{
  max-width: 40px;  
} 
.service_section_homepage .service_container_before{
  background-image: url(../images/shapes/shihabiiuc-shape-ninety-angle.png);
  background-repeat: no-repeat;
  background-size: 400px 160px;
  background-position: top right;
  padding: 90px 15px;
}
@media (min-width: 768px) {
  .service_section_homepage .service_container_before{
    background-size: 500px 200px;
  }
}/* service section*/

.how-it-works{
  padding:50px 10px 100px 10px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.how-it-works .step.one p:after {
  background: none;

}
@media (min-width: 992px) {
  .how-it-works .step.one p:after {
    background: url(../images/background/arrow-1.png) no-repeat rgba(0,0,0,0);
    content: "";
    height: 80px;
    position: absolute;
    top: 55px;
    width: 100%;
    left: 75%;
    top: 85px;
  }
}
.how-it-works .step.two p:after {
  background: none;
  
}
@media (min-width: 992px) {
  .how-it-works .step.two p:after {
    background: url(../images/background/arrow-2.png) no-repeat rgba(0,0,0,0);
    content: "";
  height: 80px;
  left: 75%;
  position: absolute;
  top: 55px;
  width: 100%;
  }
}
.section-description {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.icon {
  font-size: 30px;
  color:#e0413d;
  border:1px solid #cecece;
  border-radius: 50%;
  padding: 30px 20px 20px 20px;  
  width: 90px;
  height:90px;
  margin-top: -15px;
  position: relative;
  margin: 0 auto;
}
.icon span {
  display: block;
  width:25px;
  height: 25px;
  background-color: #e0413d;
  color:#fff;
  font-weight: 300;
  border-radius: 50%;
  position: absolute;
  left: 38%;
  font-size: 13px;
  top: -12px;
}
.step .icon::before {
  position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
content: "";
background-color: #e0413d;
-webkit-transform: scale(1.25);
-ms-transform: scale(1.25);
transform: scale(1.25);
border-radius: 50px;
opacity: 0;
z-index: -1;
transition: all .3s ease 0s;
-webkit-transition: all .3s ease 0s;
-o-transition: all .3s ease 0s;
}
.step:hover .icon {
  color:#fff;
  border-color: #e0413d;
}
.step:hover .icon::before {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);  
}
.step h4 {
  font-size: 15px;
  font-weight: 500;
  margin: 65px 0 5px 0;
}
.step.one h4, .step.two h4, .step.three h4 {
  margin: 15px 0 5px 0!important;
}

.step {
  position: relative;
  padding-top: 50px;
}
.step p {
  padding: 0 40px;
} /* how-it-works ends*/

.roi_guarantee{
  background: #333842;
  padding: 90px 15px;
}
.roi_guarantee h3{
  color: #FFF;
}
.white {color: #FFF;}











/* 
* Preloader
*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;

  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1001;
}

  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #e74c3c;

      -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #f9c922;

      -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  @-webkit-keyframes spin {
      0%   { 
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }
  @keyframes spin {
      0%   { 
          -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(0deg);  /* IE 9 */
          transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
      }
      100% {
          -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: rotate(360deg);  /* IE 9 */
          transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
      }
  }

  #loader-wrapper .loader-section {
      position: fixed;
      top: 0;
      width: 51%;
      height: 100%;
      background: #fff;
      z-index: 1000;
      -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(0);  /* IE 9 */
      transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
  }

  #loader-wrapper .loader-section.section-left {
      left: 0;
  }

  #loader-wrapper .loader-section.section-right {
      right: 0;
  }

  /* Loaded */
  .loaded #loader-wrapper .loader-section.section-left {
      -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(-100%);  /* IE 9 */
              transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
              -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
              transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }

  .loaded #loader-wrapper .loader-section.section-right {
      -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateX(100%);  /* IE 9 */
              transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      -o-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  }
  
  .loaded #loader {
      opacity: 0;
      -webkit-transition: all 0.3s ease-out;  
              -o-transition: all 0.3s ease-out;  
              transition: all 0.3s ease-out;
  }
  .loaded #loader-wrapper {
      visibility: hidden;

      -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
          -ms-transform: translateY(-100%);  /* IE 9 */
              transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

      -webkit-transition: all 0.3s 1s ease-out;  
              -o-transition: all 0.3s 1s ease-out;  
              transition: all 0.3s 1s ease-out;
  }
  
  /* JavaScript Turned Off */
  .no-js #loader-wrapper {
      display: none;
  }
  .no-js h1 {
      color: #222222;
  }

  #content {
      margin: 0 auto;
      padding-bottom: 50px;
      width: 80%;
      max-width: 978px;
  }  

  /* back to top */

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #e1433c url(../icons/back-to-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  -o-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  z-index: 9999;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  -o-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}

.cd-top:hover {
  background-color: #fe701b;
  opacity: 1;
}

/* Button gradient */
.button {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: normal;
  max-width: 400px;
}
@media (min-width: 768px) {
  .button{ font-size: 24px;}
}
.button_center {
  display: block;
  margin: auto;
}

.button a {
  color: #fff;
  border-radius: 30px;
  padding: 12px 16px;
  display: block;
  text-transform: uppercase;
  text-align: center;
}
.button_wide a{padding: 12px 42px;}
@media (min-width: 768px) {
  .button a{ padding: 20px 24px; }
  .button_wide a{padding: 20px 78px;}
}
.button a:hover{
  text-decoration: none;
}

.button.gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0413d+0,ff711a+100 */
  background: #e0413d; /* Old browsers */ /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e0413d 0%,#ff711a 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#e0413d),to(#ff711a));
  background: -o-linear-gradient(left, #e0413d 0%,#ff711a 100%);
  background: linear-gradient(to right, #e0413d 0%,#ff711a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0413d', endColorstr='#ff711a',GradientType=1 ); /* IE6-9 */
}

.gradient {
  position: relative;
  min-height: 40px;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(hsl(211, 100%, 50%)),
    to(hsl(179, 100%, 30%))
  );
  background-image: -webkit-linear-gradient(
    left,
    hsl(211, 100%, 50%),
    hsl(179, 100%, 30%)
  );
  background-image: -o-linear-gradient(
    left,
    hsl(211, 100%, 50%),
    hsl(179, 100%, 30%)
  );
  background-image: linear-gradient(
    to right,
    hsl(211, 100%, 50%),
    hsl(179, 100%, 30%)
  );
  z-index: 1;
  border-radius: 5px;
}
.gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(hsl(23, 100%, 55%)),
    to(hsl(1, 72%, 56%))
  );
  background-image: -webkit-linear-gradient(
    left,
    hsl(23, 100%, 55%),
    hsl(1, 72%, 56%)
  );
  background-image: -o-linear-gradient(
    left,
    hsl(23, 100%, 55%),
    hsl(1, 72%, 56%)
  );
  background-image: linear-gradient(
    to right,
    hsl(23, 100%, 55%),
    hsl(1, 72%, 56%)
  );
  z-index: -1;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 5px;
}
.gradient:hover::before {
  opacity: 1;
  border-radius: 5px;
}

/* GRADIENT BUTTON ENDS*/