<div class="card shadow-sm">
    <div class="card-body">
        <h5 class="card-title display-4 text-primary">Basic</h5>
        <p class="display-4 text-primary font-weight-bold">&dollar;50</p>
        <p class="card-text font-weight-bold small">One page website or Landing page for startup small business owners.</p>
        <hr>
        <p>&check; Built with WordPress</p>
        <hr>
        <p>&check; Responsive Design</p>
        <hr>
        <p>&check; Opt-in&sol;Subscription Form</p>
        <hr>
        <p>&check; Contact Form</p>
        <hr>
        <p>&check; Content Upload</p>
        <hr>
        <p>&check; Number of Pages: 1</p>
        <hr>
        <p class="text-muted">&times; <del>Ecommerce Functionality</del></p>
        <hr>
        <p class="text-muted">&times; <del>SEO Tool Setup</del></p>
        <hr>
        <p class="text-muted">&times; <del>Google Analytic Account</del></p>
        <hr>
        <p class="text-muted">&times; <del>Google Search Console</del></p>
        <hr>
        <p class="text-muted">&times; <del>Sitemap</del></p>
        <hr>
        <p>&check; Revisions: 1</p>
        <hr>
        <p>&check; Delivery Time: 2 Days</p>
    </div>
    <div class="card-footer">
        <form action="/payment" method="POST">
            <input type="number" class="form-control d-none" name="price" value="50">
            <button type="submit" class="btn btn-success btn-block">Order &amp; Make Payment</button>
        </form>
    </div>
</div>